agm-map {
  height: 400px;
  width: 485px;
}
.form-control.is-invalid, .was-validated .form-control:invalid {
  background-position: center left calc(.375em + .1875rem);
}

.form-control.is-valid, .was-validated .form-control:valid {
  background-position: center left calc(.375em + .1875rem);
}
