<!--<div class="card rounded-0 h-100">-->
<!--  <div class="card-title mb-1 p-3">-->
<!--    <i class="fa fa-list"></i>&nbsp;&nbsp;-->
<!--    <span>لیست پیام های حذف شده</span>-->

<!--&lt;!&ndash;     طبق باگ گزارش شده :  امکان افزودن در لیست پیام های دور انداخته شده نداشته باشیم لطفا چون همون میاد به ارسال پیام&ndash;&gt;-->
<!--&lt;!&ndash;    <button (click)="AddMessage()" class="btn btn-action btn-sm" style="float: left; margin-top: -5px">&ndash;&gt;-->
<!--&lt;!&ndash;      <i class="fa fa-plus-circle fa-2x"></i>&ndash;&gt;-->
<!--&lt;!&ndash;    </button>&ndash;&gt;-->
<!--  </div>-->
<!--  <hr style="margin: 0">-->
<!--  <div class="card-body">-->
<!--    <app-trash-list></app-trash-list>-->
<!--  </div>-->
<!--</div>-->
