<div class="row">
  <div class="col-md-12">

    <div class="card table-responsive-md form-inline">
      <table class="table table-striped">
        <thead>
        <tr>
          <th class="text-center" style="width: 5%">ردیف</th>
          <th class="text-center">نام فایل</th>
          <th class="text-center">نوع فایل</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let item of fileList; let i = index">
          <tr class="text-center">
            <td>{{i + 1}}</td>
            <td>{{item.name}}</td>

          </tr>
        </ng-container>

        </tbody>
      </table>
    </div>
  </div>

</div>

