<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-6 col-8 col-sm-6 card-title">
        <i class="fa fa-list"></i>&nbsp;&nbsp;
        <span>لیست بودجه ها</span>
      </div>
      <div class="col-md-6 col-4 col-sm-6 text-left">
        <button title="جستجو" data-toggle="collapse" href="#budget-search"
                class="btn btn-outline-secondary btn-sm" style="margin: 0 5px">
          <i class="fa fa-search" ></i>
        </button>



        <ng-container *ngIf="roleList.Budget_create;else notAccessCreateTemp">
          <button [routerLink]="'action'" [queryParams]="{mode: actionMode.ADD}"
                  class="btn btn-secondary btn-sm">
            <i class="fa fa-plus"></i>
            <span class="d-none d-sm-inline d-sm-inline">
            &nbsp;&nbsp;            افزودن
            </span>
          </button>
        </ng-container>
        <ng-template #notAccessCreateTemp>
          <button style="cursor: not-allowed"
                  class="btn btn-secondary btn-sm">
            <i class="fa fa-plus"></i>
            <span class="d-none d-sm-inline d-sm-inline">
            &nbsp;&nbsp;            افزودن
            </span>
          </button>
        </ng-template>

      </div>
    </div>
  </div>
  <div class="card-body card-body-content">
    <app-budget-list></app-budget-list>
  </div>
</div>
