<br>
<div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body backShadow">
          <form class="form-horizontal" [formGroup]="radioButtonForm">
            <input type="text" style="display: none" [placeholder]="radioButton.id" [(ngModel)]="radioButton.id"
                   formControlName="id">

            <div class="row form-group">
              <div class="col-md-12 text-left">
                <label class="control-label" *ngIf="data != null">{{data.formQuestion.questionTitle}}
                  <span style="color: red">*</span>
                </label>
              </div>
              <div class="col-md-12 text-left">
                <textarea *ngIf="editingItem.newElement" rows="3" type="text" class="form-control" [placeholder]="editingItem.item.label"
                          (keyup)="changeLabel($event.target.value)" #label formControlName="label">
                </textarea>
                <textarea *ngIf="!editingItem.newElement" rows="3" type="text" class="form-control" [(ngModel)]="radioButton.label"
                          #label formControlName="label">
                </textarea>
                <p style="color: red" *ngIf="(saveButton || radioButtonForm.controls['label'].touched) && radioButton.label == '' ">
                  {{data.errorMessages.labelRequired}}
                </p>
              </div>
            </div>
            <hr>
            <div class="row form-group">
              <div class="col-md-12 text-left">
                <label class="control-label" *ngIf="data != null">{{data.formQuestion.questionHelpText}}
                </label>
              </div>
              <div class="col-md-12 text-left">
                <input *ngIf="editingItem.newElement" type="text" class="form-control" [placeholder]="editingItem.item.helpText"
                       (keyup)="changeHelpText($event.target.value)" #helpText formControlName="helpText">
                <input *ngIf="!editingItem.newElement" type="text" class="form-control" [(ngModel)]="radioButton.helpText"
                       #helpText formControlName="helpText">

              </div>
            </div>
            <hr>
            <div class="row form-group">
              <div class="col-md-4 text-left">
                <label class="control-label default font-size-15" *ngIf="data != null">{{data.formQuestion.questionRequired}}</label>
              </div>
              <div class="col-md-8 text-left">
                <div class="col-md-6 col-md-offset-3">
                  <input type="checkbox" formControlName="required"  [(ngModel)]="radioButton.required" #required>

                  <!--<input type="checkbox" class="form-control"-->
                       <!--[(ngModel)]="radioButton.required"-->
                       <!--#required formControlName="required">-->
                </div>
              </div>
            </div>
            <hr>
            <div class="row form-group">
                  <div class="col-md-4 text-left">
                    <label class="control-label default font-size-15 mt-2" *ngIf="data != null">{{data.formQuestion.questionOption}}</label>
                  </div>
                  <div class="col-md-6 text-left">
                    <button class="btn btn-sm btn-outline-secondary" (click)="createNewOption()" *ngIf="data != null">
                      <i class="material-icons " ></i>&nbsp;&nbsp;
                      <span >{{data.formQuestion.addOption}}</span>
                    </button>
                    <!--<button class="btn btn-block addButton" (click)="createNewOption()"-->
                            <!--*ngIf="data != null">{{data.formQuestion.addOption}}-->
                    <!--</button>-->
                  </div>
                  <div class="col-md-2"></div>
              <div class="col-md-12">
                <br>
              </div>
              <div *ngFor="let ch of opt; let  i = index" class="w-100">
                <div class="col-md-12 mb-3">
                  <div class="w-100">
                    <input *ngIf="!editingItem.newElement" type="text" class="form-control"
                           [value]="ch.caption" (keyup)="onChangeOption($event.target.value, i)"
                           name="value" #value>
                    <input *ngIf="editingItem.newElement" type="text" class="form-control"
                           [placeholder]="ch.caption" (keyup)="onChangeOption($event.target.value, i)"
                           name="value" #value>

                    <img src="../../../../../../../../assets/images/close.png" class="btn-remove-img" (click)="deleteOption(i)">
                  </div>
                </div>
              </div>
              <div class="col-md-12 text-left" *ngIf="!checkOptions() && saveButton">
                <p style="color: red">
                  {{data.errorMessages.optionRequired}}
                </p>
              </div>
            </div>
            <hr>

            <div class="row form-group">
              <div class="w-100">
                <!--<button class="btn closeButton" (click)="close()" *ngIf="data != null">{{data.public.close}}</button>-->
                <!--<button class="btn saveButton" (click)="save()" *ngIf="data != null">{{data.public.save}}</button>-->
                <button class="btn btn-sm btn-cancel-back" style="margin-top: 10px!important;" (click)="close()" *ngIf="data != null">
                  <span >{{data.public.close}}</span>
                </button>
              <button class="btn btn-sm btn-action"  style="margin-top: 10px!important;" (click)="save()" *ngIf="data != null">
                  <span >{{data.public.save}}</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body backShadow">

          <div class="col-md-12 text-right" *ngIf="data != null">
            <h4>{{data.formQuestion.questionTitle}}:</h4>
            <span>{{radioButton.label}}</span>
            <span style="color: red" *ngIf="radioButton.required">*</span>
            <a class="toolTipColor" [title]="radioButton.helpText">
              <i class="fa fa-info-circle"></i>
            </a>
          </div>

          <!--questionTitle image-->
          <!--<div class="col-md-12">-->
            <!--<br>-->
            <!--<div class="col-md-6">-->
              <!--<input type="file" accept="image/*" id="image" class="upload" (change)="settingQuestionImage($event)"/>-->
            <!--</div>-->
            <!--<div class="col-md-6" *ngIf="radioButton.picture.imageStatus != MyImageStatus.WITHOUT_IMAGE">-->
              <!--<img style="width:200px; border-radius: 7px" [attr.src]="radioButton.picture.imageData">-->
              <!--<i class="fa fa-times" aria-hidden="true" style="color: red " (click)="deleteQuestionImage()"></i>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-12">-->
            <!--<hr>-->
          <!--</div>-->

          <div class="col-md-12 text-right">
            <h4 *ngIf="data != null">{{data.formQuestion.questionOption}}</h4>
          </div>


          <!--options-->
          <div *ngFor="let ch of opt; let  i = index" class="mb-2">
            <div class="col-md-12 text-right">
              <span>{{ch.caption}}</span>
            </div>
            <!--<div class="col-md-12">-->
              <!--<div class="col-md-6">-->
                <!--<input type="file" accept="image/*" id="imageOption-{{i}}" class="upload" (change)="settingOptionImage($event, i)"/>-->
              <!--</div>-->
              <!--<div class="col-md-6" *ngIf="ch.imageStatus != MyImageStatus.WITHOUT_IMAGE">-->
                <!--<img style="width:200px; border-radius: 7px" [attr.src]="ch.imageData">-->
                <!--<i class="fa fa-times" aria-hidden="true" style="color: red " (click)="deleteOptionImage(i)"></i>-->
              <!--</div>-->
            <!--</div>-->
          </div>

        </div>
      </div>
    </div>
</div>
