<!--<form (submit)="signInFunction(loginForm)" #loginForm="ngForm" *ngIf="!loader">-->
  <!--<div class="form">-->
    <!--<div class="input-group mb-3 input-group-lg" dir="ltr">-->
      <!--<input type="text" class="form-control text-left px-2" name="userName"-->
             <!--[(ngModel)]="signIn.username" placeholder="نام کاربری"-->
             <!--nbvRequired #userName="ngModel"-->
             <!--[class.is-valid]="!(userName?.errors?.nbvRequired)"-->
             <!--[class.is-invalid]="userName?.errors?.nbvRequired && userName.touched"-->
             <!--dest="userNameValidation">-->
      <!--<div class="input-group-append">-->
                      <!--<span class="input-group-text">-->
                        <!--<img src="../../../../../assets/images/sign-in/svg/user.svg">-->
                      <!--</span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div id="userNameValidation"></div>-->

    <!--<div class="input-group mb-3 input-group-lg" dir="ltr">-->
      <!--<input type="password" class="form-control text-left px-2" name="password"-->
             <!--[(ngModel)]="signIn.password" placeholder="کلمه عبور"-->
             <!--nbvRequired #password="ngModel"-->
             <!--[class.is-valid]="!(password?.errors?.nbvRequired)"-->
             <!--[class.is-invalid]="password?.errors?.nbvRequired && password.touched"-->
             <!--dest="passwordValidation">-->
      <!--<div class="input-group-append">-->
                      <!--<span class="input-group-text">-->
                        <!--<img src="../../../../../assets/images/sign-in/svg/lock.svg">-->
                      <!--</span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div id="passwordValidation"></div>-->
  <!--</div>-->

  <!--<div class="col-md-12">-->
    <!--<div class="row justify-content-center">-->
      <!--<button type="submit" class="btn-login" [disabled]="loginForm.invalid">-->
        <!--ورود-->
      <!--</button>-->
    <!--</div>-->
  <!--</div>-->
<!--</form>-->
