<div id="acceptationCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
  <div class="carousel-inner">
    <!--    اسلاید بندی-->
    <div class="form-inline" style="color: #606063">

      <div class="col-md-4 text-center active"
           [ngClass]="stepNumber== 'activity-step-0' && 'tab-active'"
           style="border-radius: 4px;cursor:pointer;margin-bottom: 4px" (click)="selectStep(0)">
        <img src="../../../../../assets/images/activity/3.png" class="img-completed" style="opacity: 0.5">
        <p class="mobile-item text-center">تعریف فرآیند</p>
      </div>

      <div class="col-md-4 text-center"
           [ngClass]="stepNumber== 'activity-step-1' && 'tab-active active'"
           style="border-radius: 4px;cursor:pointer;margin-bottom: 4px" (click)="selectStep(1)">
        <img src="../../../../../assets/images/activity/2.png" class="img-completed"
             style="opacity: 0.5">
        <p class="mobile-item text-center">تعریف مرحله</p>
      </div>

      <div class="col-md-4 text-center"
           [ngClass]="stepNumber== 'activity-step-2' && 'tab-active active'"
           (click)="selectStep(2)"
           style="border-radius: 4px;cursor:pointer;margin-bottom: 4px">
        <img src="../../../../../assets/images/activity/1.png" class="img-completed" style="opacity: 0.5">
        <p class="mobile-item text-center">تعیین ارجاع به واحد</p>
      </div>

      <!--      <div class="col-md-3 text-center"-->
      <!--           [ngClass]="stepNumber== 'activity-step-3' && 'tab-active active'"-->
      <!--           style="border-radius: 4px;cursor:pointer;margin-bottom: 4px" (click)="selectStep(3)">-->
      <!--        &lt;!&ndash;        <img src="../../../../../assets/images/activity/2.png" class="img-completed"&ndash;&gt;-->
      <!--        &lt;!&ndash;             style="opacity: 0.5">&ndash;&gt;-->
      <!--        <i class="	fas fa-user-plus img-completed" style="opacity: 0.5"></i>-->
      <!--        <p class="mobile-item text-center">تخصیص سازمان و کاربر به مراحل</p>-->
      <!--      </div>-->
    </div>
    <!--محتوای هر اسلاید را مشخص می کند-->
    <!--/////////////////////step1//////////////////////-->
    <!--<ng-container>-->

    <div class="carousel-item" [ngClass]="stepNumber== 'activity-step-0' && 'active'"
         id="activity-step-0">
      <article class="border rounded p-3 mt-3">
        <!--            محتوای مرحله اول-->

        <fieldset class="scheduler-border">
          <legend class="scheduler-border"><h4 style="color: #51575d">تعریف فرآیند</h4></legend>
          <div>
            <div class="tab-content">
              <form [formGroup]="form">
                <div class="w-100">
                  <div class="mb-4" dir="ltr">
                    <div class="w-100 input-group">
                      <label class="placeholder active style-4">عنوان فرآیند : <span style="color: red">*</span>
                      </label>

                      <input type="text" name="activityTitle"
                             disabled
                             [(ngModel)]="activity.title"
                             (change)="doValidForm()"
                             formControlName="activityTitle"
                             class="form-control text-right valid-error"/>
                      <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="fa fa-pencil-alt"></i>
                      </span>
                      </div>
                    </div>
                    <!--   ولیدیشن  -->
                    <p style="color: red; width: 100%; font-size: 13px; margin-top: 5px;"
                       *ngIf="!form.controls['activityTitle'].valid && (form.controls['activityTitle'].touched ||saveButton)">
                      وارد کردن عنوان فرآیند الزامی است.
                    </p>
                  </div>
                  <div class="input-group mb-4" dir="ltr">
                    <label class="placeholder active style-4">توضیحات فرآیند :</label>
                    <textarea name="description"
                              disabled
                              [(ngModel)]="activity.description"
                              formControlName="description" class="form-control text-right"></textarea>
                    <div class="input-group-append">
                <span class="input-group-text">
                  <i class="fa fa-pencil-alt"></i>
                </span>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </fieldset>


        <div class="col-md-12 text-left px-0">
          <ng-container *ngIf="activityId">
            <button type="button" class="btn btn-sm btn-cancel-back ml-3" (click)="backToList()">بازگشت</button>
          </ng-container>

          <button type="button" class="btn btn-sm btn-action" (click)="selectStep(1)">ادامه</button>
        </div>
      </article>
    </div>
    <!--</ng-container>-->

    <!--/////////////////////step2//////////////////////-->
    <!--<ng-container>-->

    <div class="carousel-item" [ngClass]="stepNumber=='activity-step-1' && 'active'"
         id="activity-step-1">
      <article class="border rounded p-3 mt-3">
        <!--        یک تگ fieldset ایجاد میکنیم برای مجموعه از متنی و تگ legend عنوانش میشه -->
        <fieldset class="scheduler-border" id="activityFormStep2">
          <legend class="scheduler-border">
            <h4 style="color: #51575d">تعریف فرآیند</h4>

          </legend>
          <!--          <form>-->
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 mb-4">
              <div class="input-group">
                <label class="placeholder active style-3">عنوان مرحله: <span style="color: red">*</span>
                </label>

                <input type="text"
                       disabled
                       id="stepTitle"
                       class="form-control"
                       placeholder=""
                       name="stepTitle"
                       [(ngModel)]="activityLevel.title">
              </div>
            </div>


            <div class="col-md-6 col-sm-6 col-xs-12 mb-4">
              <div class="input-group">
                <label class="for-label">فرم دستی:</label>
                <ng-select dir="rtl" [(ngModel)]="activityLevel.form.id"
                           [disabled]="true"
                           name="projectId"
                           placeholder="فرم متغییر"
                           (change)=" kkkkk($event)"
                           style="width: 100%;"
                           dropdownPosition="bottom">
                  <ng-option value="null" selected disabled>فرم مورد نظر را انتخاب کنید</ng-option>
                  <ng-option *ngFor="let formItem of formList; let i = index"
                             [value]="formItem.id">{{formItem.title}}
                  </ng-option>
                </ng-select>

                <ng-container *ngFor="let formItems of formList; let i = index">
                  <ng-container *ngIf="formItems.id===activityLevel.form.id">
                    {{formItems.title}}
                  </ng-container>
                </ng-container>

              </div>
            </div>
          </div>

          <!--========================================-->
          <fieldset class="scheduler-border" id="company-address" style="margin-top: 35px">
            <legend class="scheduler-border"><span style=" font-size: 16px; color: #51575d">فرم های ثابت</span></legend>
            <div class="row">
              <div class="col-md-6 form-group required col-sm-12">
                <input type="checkbox"
                        (click)="selectBasicInformation($event)" id="rootBuilding">
                <label class="for-label" for="rootBuilding" style="margin-right: 7px">انتخاب اطلاعات اولیه ی سفارش
                  کار</label>

              </div>
              <div *ngIf="selectWorOrderMaine" class="col-md-1 col-sm-1 col-xs-12 mb-4">
                <button
                  type="button"
                  class="btn btn-action btn-sm px-1"
                  (click)="yyyyyyyy()">
                  مشاهده
                </button>
              </div>
            </div>
            <div class="row">
              <!--            *ngIf="FormsSelector==='static'"-->

              <div class="col-md-12 col-sm-12 col-xs-12 mb-4">
                <div class="input-group">
                  <label class="placeholder active style-3">سایر فرم های دستور کار:</label>

                  <ng-select dir="rtl" [(ngModel)]="activityLevel.staticFormsIdList" name="staticFormsIdList"
                             style="width: 100%;"
                             [multiple]="true"
                             [clearable]="false"
                             [disabled]="true"
                             dropdownPosition="bottom">

                    <!--(change)="wwwwww(activityLevel.staticFormsIdList, $event)"
                                  <ng-option value="workOrder" [disabled]="checkWorkOrderFormInLevel
                                  ('workOrder')" >اطلاعات اولیه/دستور کار</ng-option>&ndash;&gt;-->
                    <ng-option value="null" disabled>فرم مورد نظر را انتخاب کنید</ng-option>
                    <ng-option value="completionDetails">کلیات/دستور کار</ng-option>
                    <ng-option value="information">اطلاعات تکمیلی/دستور کار</ng-option>
                    <ng-option value="tasks">تخصیص وظایف</ng-option>
                    <ng-option value="taskGroup">مجموعه وظایف</ng-option>
                    <ng-option value="workOrderPart">قطعات بکار برده</ng-option>
                    <ng-option value="miscCost">هزینه متفرقه</ng-option>
<!--                    <ng-option value="notification">آگاه سازی</ng-option>-->
                    <ng-option value="reports">گزارشات</ng-option>
                    <ng-option value="file">مستندات</ng-option>
                  </ng-select>
                </div>
              </div>


            </div>
          </fieldset>
          <!--&lt;!&ndash;========================================&ndash;&gt;-->


          <div class="w-100 mb-4 input-group" dir="ltr">
            <div class="input-group">
              <label class="placeholder active style-3">
                دستورالعمل: <span style="color: red">*</span>
              </label>

              <textarea name="recipe"
                        disabled
                        [(ngModel)]="activityLevel.recipe"
                        class="form-control text-right "
                        placeholder=""
                        style="height: 100px ;resize: none">

                </textarea>
            </div>
          </div>



          <div class="mt-4" *ngIf="activityLevelForAddedToStep.length > 0">
            <h4 class="tables_header">لیست مراحل</h4>
            <div class="w-100 table-responsive">
              <table class="table table-bordered table-striped table-hover mb-0">
                <thead class="text-center">
                <tr>
                  <th class="vertical-align-center">ردیف</th>
                  <th class="vertical-align-center"> عنوان</th>
                  <!--<th class="vertical-align-center">دستورالعمل</th>-->
                  <th class="vertical-align-center">مشاهده</th>
                  <!--<th class="vertical-align-center">حذف</th>-->
                </tr>
                </thead>
                <tbody>
                <tr class="text-center" *ngFor="let item of activityLevelForAddedToStep; let i=index">
                  <ng-container>
                    <td class="vertical-align-center">{{i + 1 |perNumber}}</td>
                    <td class="vertical-align-center"><span>{{item.title|perNumber}}</span></td>
                    <!--<td class="vertical-align-center">-->
                    <!--&lt;!&ndash;<span *ngIf="!item.firstStepIs && !item.lastStepIs; else other1">&ndash;&gt;-->
                    <!--{{item.recipe|perNumber}}-->
                    <!--</td>-->

                    <td class="vertical-align-center" *ngIf="createActivityLevel">
                      <a *ngIf="item.title !== 'شروع' && item.title !== 'پایان'">
                        <span (click)=" edit(item.id,i)"
                              style="padding: 0 3px; cursor: pointer; color: #53565d;">
                          <i class="fa fa-eye" title="مشاهده"></i>
                        </span>
                      </a>
                      <span *ngIf="item.title === 'شروع' || item.title == 'پایان'">---</span>
                      <!--</td>-->
                      <!--<td class="vertical-align-center" *ngIf="createActivityLevel">-->
                      <!--<span *ngIf="item.title !== 'شروع' && item.title !== 'پایان'"-->
                      <!--(then)="delete(item.id)"-->
                      <!--nbdAreYouSure-->
                      <!--style="padding: 0 3px; cursor: pointer; color: red; width: 100%; text-align:center">-->
                      <!--<i class="fa fa-trash" title="حذف"></i></span>-->
                      <!--<span *ngIf="item.title === 'شروع' || item.title == 'پایان'">-&#45;&#45;</span>-->
                      <!--</td>-->
                  </ng-container>

                </tr>
                </tbody>
              </table>
            </div>
          </div>

        </fieldset>


        <div class="col-md-12 text-left px-0">
          <button type="button" class="btn btn-sm btn-cancel-back ml-3" (click)="selectStep(0)">بازگشت</button>
          <button type="button" class="btn btn-sm btn-action" (click)="setNOPLevel(false)">ادامه</button>
        </div>
      </article>
    </div>
    <!--</ng-container>-->

    <!--/////////////////////step3//////////////////////-->
    <!--<ng-container>-->

    <div class="carousel-item" [ngClass]="stepNumber== 'activity-step-2' && 'active'"
         id="activity-step-2">
      <article class="border rounded p-3 mt-3">
        <!--            محتوای مرحله سوم-->

        <div class="w-100 table-responsive mb-3">
          <table class="table table-bordered table-striped table-hover mb-0">
            <thead class="text-center">
            <tr>
              <th class="vertical-align-center">ردیف</th>
              <th class="vertical-align-center"> عنوان</th>
              <!--<th class="vertical-align-center">دستورالعمل</th>-->
              <th class="vertical-align-center">تائید</th>
              <th class="vertical-align-center">اصلاح</th>
              <th class="vertical-align-center">انتخاب کاربر</th>
              <th class="vertical-align-center">عملگر نوع یک</th>
              <th class="vertical-align-center">عملگر نوع دو</th>
            </tr>
            </thead>
            <tbody>

            <tr class="text-center" *ngFor="let item of activity.activityLevelList; let i=index">
              <ng-container *ngIf="item.title !==  'پایان'">
                <td class="vertical-align-center">{{i + 1 |perNumber}}</td>
                <td class="vertical-align-center"><span>{{item.title|perNumber}}</span></td>
                <!--<td class="vertical-align-center">-->
                <!--{{item.recipe|perNumber}}-->
                <!--</td>-->

                <td class="vertical-align-center">
                  <span *ngIf="item.title !== 'پایان'">
                    <select class="form-control mb-3"
                            [disabled]="true"
                            placeholder="تایید"
                            name="levelTitle"
                            #acceptOrRejectLevel
                            [(ngModel)]="item.nextActivityLevel.id">
                    <option [value]="null">مرحله بعدی را انتخاب کنید</option>
                    <ng-container *ngFor="let myItem of activity.activityLevelList">
      <option *ngIf=" item.id !== myItem.id && myItem.id!=='start'"
              [value]="myItem.id">{{myItem.title}}</option>

                    </ng-container>
                  </select>
                  </span>
                  <span *ngIf="item.title === 'پایان'">---</span>
                </td>


                <td class="vertical-align-center">
                  <span *ngIf="item.title !== 'شروع'">
                  <select class="form-control mb-3"
                          placeholder="اصلاح"
                          [disabled]="true"
                          name="levelTitle"
                          #acceptOrRejectLevel
                          [(ngModel)]="item.prevActivityLevel.id">
                    <option [value]="null">مرحله را انتخاب کنید</option>
                    <ng-container *ngFor="let myItem of activity.activityLevelList">
                      <option *ngIf="activityLevelId !== myItem.id && item.id !== myItem.id && myItem.id!=='start'"
                              [value]="myItem.id">{{myItem.title}}</option>
                    </ng-container>
                  </select>
                  </span>
                  <span *ngIf="item.title === 'شروع'">---</span>
                </td>
                <!--                  ///////////// اطلاعات کاربر انتخاب شده /////////////////-->
                <td class="vertical-align-center">
                  <!--<span *ngIf="item.userId">-->
                    <!--{{levelUser(item)}}-->
                <!--</span>-->
                  <!--       /////////////  نمایش اطلاعات در صورت کاربر ثابت /////////////////-->
                  <ng-container *ngIf="!checkNextLevels(item);else Massege">
<!--                    <button mat-raised-button-->
<!--                            disabled-->
<!--                            *ngIf="item.title !== 'شروع' && item.title !== 'پایان' && !item.userId">انتخاب کاربر-->
<!--                    </button>-->
<!--                    <a (click)="showModalSelectableUser(item)"-->
<!--                       *ngIf="item.title !== 'شروع' && item.title !== 'پایان' && item.userId">-->
<!--                      <i class="fa fa-eye"></i>-->
<!--                    </a>-->
                  </ng-container>


                  <!--                  /////////////  نمایش اطلاعات در صورت کاربر متغییر /////////////////-->
                  <ng-template #Massege>
                    <i class="fas fa-users"></i>
                    <span>کاربر متغییر</span>
                    <button mat-raised-button (click)="showModalSelectableUser(item)"
                            disabled
                            *ngIf="item.title !== 'شروع' && item.title !== 'پایان' && !item.userTypeId">انتخاب کاربر
                    </button>
                    <a (click)="showModalSelectableUser(item)"
                       *ngIf="item.title !== 'شروع' && item.title !== 'پایان' && item.userTypeId">
                      <i class="fa fa-eye"></i>
                    </a>
                  </ng-template>
                </td>


                <!-- /////////////  چک باکس تعیین کاربر... /////////////////-->
                <td>
                  <mat-checkbox *ngIf="item.id !== 'start' && item.id !== 'end' &&
                   item.nextActivityLevel.id!=='end' && item.nextActivityLevel.id!=='start' && item.nextActivityLevel.id"
                                [disabled]="true"
                                [checked]="item.rightToChoose"
                                (change)="setRightToChoose($event,item)">
                    تعیین کاربر مرحله بعد
                  </mat-checkbox>

                  <span
                    *ngIf="item.title === 'شروع' || item.title === 'پایان' || item.nextActivityLevel.id=='end' || item.nextActivityLevel.id=='start'">---</span>
                </td>


                <!--==============================چک باکس تعیین کاربر سفارش گیرنده تعمیر کار====================-->
                <td>

                  <mat-checkbox *ngIf="item.id !== 'start' && item.id !== 'end' &&
                   item.nextActivityLevel.id!=='end' && item.nextActivityLevel.id!=='start' && item.nextActivityLevel.id"
                                [disabled]="true"
                                [checked]="item.existRecipientOrderUser"
                                (change)="setExistRecipientOrderUser($event,item)">
                    تعیین کاربر تکنسین مرحله بعد
                  </mat-checkbox>

                  <span
                    *ngIf="item.title === 'شروع' || item.title === 'پایان' || item.nextActivityLevel.id=='end' || item.nextActivityLevel.id=='start'">---</span>

                </td>
              </ng-container>

            </tr>
            </tbody>
          </table>
        </div>

        <div class="col-md-12 text-left px-0">
          <button type="button" class="btn btn-sm btn-cancel-back" (click)="backToStepTwo()">بازگشت</button>
          <!--<button type="button" class="btn btn-sm btn-action" (click)="saveActivity()">ثبت نهایی</button>-->
        </div>
      </article>
    </div>

  </div>
</div>
<br>


<!-- *************************** modal **************************-->

<!--<app-org-and-user-type-and-user-modal  [modalId]="modalId" [activityLevel]="activityLevel" [activity]="activity" [allOrganization]="organizationList"></app-org-and-user-type-and-user-modal>-->

<!--<nbw-modal-->
  <!--[hasHeader]="true"-->
  <!--[hasFooter]="false"-->
  <!--[modalSize]="MyModalSize"-->
  <!--autoShow="false"-->
  <!--[myId]="modalId">-->
  <!--<div modal-header>-->
    <!--<h6>-->
      <!--انتخاب کاربر برای مرحله-->
      <!--({{activityLevel.title}})-->
    <!--</h6>-->
  <!--</div>-->
  <!--<div modal-body>-->


    <!--<div class="col-md-12 col-sm-6 col-xs-12 mb-4">-->
      <!--<div class="input-group">-->
        <!--<label class="placeholder active style-3">سازمان: <span style="color: red">*</span>-->
        <!--</label>-->

        <!--<select class="form-control"-->
                <!--placeholder="سازمان"-->
                <!--name="selectedOrg"-->
                <!--[disabled]="true"-->
                <!--[(ngModel)]="organizationId"-->
                <!--(change)="getPostByOrganizationId($event)">-->
          <!--<option *ngFor="let organization of organizationList; let i= index"-->
                  <!--[value]="organization.id">-->
            <!--{{organization.name}}-->
          <!--</option>-->
        <!--</select>-->
      <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash;              <ng-container *ngIf="userTypeListByOrg.length>0">&ndash;&gt;-->
    <!--<div class="col-md-12 col-sm-4 col-xs-12 mb-4">-->
      <!--<div class="input-group">-->
        <!--<label class="placeholder active style-3"> پست: <span style="color: red">*</span>-->
        <!--</label>-->
        <!--&lt;!&ndash;          *ngIf="activityLevel.organizationId"&ndash;&gt;-->
        <!--<select-->
          <!--class="form-control"-->
          <!--placeholder="پست"-->
          <!--[disabled]="true"-->
          <!--name="selectedPost"-->
          <!--(change)="setUserTypeDetails(userTypeId,organizationId)"-->
          <!--[(ngModel)]="userTypeId"-->
        <!--&gt;-->
          <!--<option *ngFor="let userType of userTypeListByOrg; let i= index"-->
                  <!--[value]="userType.id">-->
            <!--{{userType.name}}-->
          <!--</option>-->
        <!--</select>-->
      <!--</div>-->
      <!--&lt;!&ndash;                <p style="color: red; width: 100%; font-size: 13px; margin-top: 5px;"&ndash;&gt;-->
      <!--&lt;!&ndash;                   *ngIf="!activityLevelForm.controls['selectedPost'].valid &&&ndash;&gt;-->
      <!--&lt;!&ndash;                              (activityLevelForm.controls['selectedPost'].touched || saveButton2)">&ndash;&gt;-->
      <!--&lt;!&ndash;                  انتخاب پست الزامی است.&ndash;&gt;-->
      <!--&lt;!&ndash;                </p>&ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash;              <ng-container *ngIf="activityLevel.userType.id">&ndash;&gt;-->
    <!--<div class="col-md-12 col-sm-4 col-xs-12 mb-4" *ngIf="!checkNextLevels(selectLevel);else infoUser">-->
      <!--<div class="input-group">-->
        <!--<label class="placeholder active style-3">گیرنده: <span style="color: red">*</span>-->
        <!--</label>-->
        <!--&lt;!&ndash;                    (change)="setUserTypeDetails(activityLevel.userType.id)"&ndash;&gt;-->
        <!--&lt;!&ndash;          *ngIf="activityLevel.userTypeId"&ndash;&gt;-->
        <!--<select-->
          <!--class="form-control valid-error"-->
          <!--name="selectedUser"-->
          <!--[disabled]="true"-->
          <!--[(ngModel)]="userId">-->
          <!--<option *ngFor="let user of userByUserTypeIdAndOrganizationId; let i= index"-->
                  <!--[value]="user.id">-->
            <!--{{user.name}} {{user.family}}-->
          <!--</option>-->
        <!--</select>-->
      <!--</div>-->
      <!--&lt;!&ndash;                  <p style="color: red; width: 100%; font-size: 13px; margin-top: 5px;"&ndash;&gt;-->
      <!--&lt;!&ndash;                     *ngIf="!activityLevelForm.controls['selectedUser'].valid &&&ndash;&gt;-->
      <!--&lt;!&ndash;                              (activityLevelForm.controls['selectedUser'].touched || saveButton2)">&ndash;&gt;-->
      <!--&lt;!&ndash;                    انتخاب پست الزامی است.&ndash;&gt;-->
      <!--&lt;!&ndash;                  </p>&ndash;&gt;-->
    <!--</div>-->


    <!--<ng-template #infoUser>-->
      <!--<div class="col-md-12">-->
        <!--<i class="fa fa-info"></i>-->
        <!--<a style="color: #2D80B2">-->
          <!--کاربر این مرحله متغییر می باشد و در اجرای فرآیند تعیین خواهد شد-->
        <!--</a>-->
        <!--<div class="col-md-12">-->
          <!--<ng-container *ngFor="let user of userByUserTypeIdAndOrganizationId">-->
            <!--<a style="background: #f0f0f0;color: #929292;border-radius: 12px">-->
              <!--{{user.name}} {{user.family}}-->
            <!--</a>- -->
          <!--</ng-container>-->
        <!--</div>-->
      <!--</div>-->
    <!--</ng-template>-->


    <!--&lt;!&ndash;<div class="row float-left">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-md-4 form-group required col-sm-12 text-center">&ndash;&gt;-->
    <!--&lt;!&ndash;<button class="btn  btn-sm" style="background-color: #042C76; color: white;"&ndash;&gt;-->
    <!--&lt;!&ndash;(click)="setUserInActivityLevel()">&ndash;&gt;-->
    <!--&lt;!&ndash;<i class="fa fa-plus-circle"> </i>&ndash;&gt;-->
    <!--&lt;!&ndash;&nbsp;&ndash;&gt;-->
    <!--&lt;!&ndash;<span>ثبت</span>&ndash;&gt;-->
    <!--&lt;!&ndash;</button>&ndash;&gt;-->

    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->


  <!--</div>-->
<!--</nbw-modal>-->


<!--==========================================================-->


<nbw-modal
  [hasHeader]="true"
  [hasFooter]="true"
  [dataBackdrop]="true"
  [modalSize]="MyModalSize.CUSTOM_WIDTH"
  [customWidthPercent]="{xs: 130, md:70}"
  autoShow="false"
  [myId]="'accessWorkOrderss'">
  <div modal-header>
    انتخاب فیلد های اطلاعات پایه ی دستور کار
  </div>
  <div modal-body style="display: flow-root">


    <ng-container>
      <div class="row">
        <div class="col-md-6">
          <div class="alert alert-success" role="alert" style="background-color: #eeeeee;padding: 0.3rem;border: none">
            <div class="row">
              <div class="col-md-7 ">
                <h6 class="alert-heading"> نام دستور کار</h6>


              </div>
              <div class="col-md-5 ">
                <div class=" align-content-end">

                  <section class="example-section">
                    <mat-slide-toggle
                      disabled
                      class="example-margin"
                      id="title"
                      [(ngModel)]="workOrderAccess.title"
                    >
                    </mat-slide-toggle>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">

          <div class="alert alert-success" role="alert" style="background-color: #eeeeee;padding: 0.3rem;border: none">
            <div class="row">
              <div class="col-md-7 ">
                <h6 class="alert-heading"> کد دستور کار</h6>


              </div>
              <div class="col-md-5 ">
                <div class=" align-content-end">

                  <section class="example-section">
                    <mat-slide-toggle
                      disabled

                      class="example-margin"
                      id="code"
                      (change)="changeNumberOfField($event)"
                      [(ngModel)]="workOrderAccess.code"
                    >
                    </mat-slide-toggle>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="alert alert-success" role="alert" style="background-color: #eeeeee;padding: 0.3rem;border: none">


            <div class="row">
              <div class="col-md-7 ">
                <h6 class="alert-heading"> نوع بازدید</h6>
              </div>
              <div class="col-md-5 ">
                <div class=" align-content-end">

                  <section class="example-section">
                    <mat-slide-toggle
                      disabled
                      (change)="changeNumberOfField($event)"
                      class="example-margin"
                      id="زmaintenanceType"
                      [(ngModel)]="workOrderAccess.maintenanceType"
                    >
                    </mat-slide-toggle>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="alert alert-success" role="alert" style="background-color: #eeeeee;padding: 0.3rem;border: none">
            <div class="row">
              <div class="col-md-7 ">
                <h6 class="alert-heading"> اولویت</h6>
              </div>
              <div class="col-md-5 ">
                <div class=" align-content-end">

                  <section class="example-section">
                    <mat-slide-toggle
                      disabled
                      (change)="changeNumberOfField($event)"
                      class="example-margin"
                      id="priority"
                      [(ngModel)]="workOrderAccess.priority"
                    >
                    </mat-slide-toggle>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="alert alert-success" role="alert" style="background-color: #eeeeee;padding: 0.3rem;border: none">

            <div class="row">
              <div class="col-md-7 ">
                <h6 class="alert-heading"> دارایی</h6>
              </div>
              <div class="col-md-5 ">
                <div class=" align-content-end">

                  <section class="example-section">
                    <mat-slide-toggle
                      disabled
                      (change)="changeNumberOfField($event)"
                      class="example-margin"
                      id="assetId"
                      [(ngModel)]="workOrderAccess.assetId"
                    >
                    </mat-slide-toggle>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="alert alert-success" role="alert" style="background-color: #eeeeee;padding: 0.3rem;border: none">
            <div class="row">
              <div class="col-md-7 ">
                <h6 class="alert-heading"> پروژه</h6>
              </div>
              <div class="col-md-5 ">
                <div class=" align-content-end">

                  <section class="example-section">
                    <mat-slide-toggle
                      disabled
                      (change)="changeNumberOfField($event)"
                      class="example-margin"
                      id="projectId"
                      [(ngModel)]="workOrderAccess.projectId"
                    >
                    </mat-slide-toggle>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="alert alert-success" role="alert" style="background-color: #eeeeee;padding: 0.3rem;border: none">
            <div class="row">
              <div class="col-md-7 ">
                <h6 class="alert-heading"> وضعیت</h6>
              </div>
              <div class="col-md-5 ">
                <div class=" align-content-end">

                  <section class="example-section">
                    <mat-slide-toggle
                      disabled
                      (change)="changeNumberOfField($event)"
                      class="example-margin"
                      id="statusId"
                      [(ngModel)]="workOrderAccess.statusId"
                    >
                    </mat-slide-toggle>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="alert alert-success" role="alert" style="background-color: #eeeeee;padding: 0.3rem;border: none">
            <div class="row">
              <div class="col-md-7 ">
                <h6 class="alert-heading"> زمان شروع کار</h6>
              </div>
              <div class="col-md-5 ">
                <div class=" align-content-end">

                  <section class="example-section">
                    <mat-slide-toggle
                      disabled
                      (change)="changeNumberOfField($event)"
                      class="example-margin"
                      id="startDate"
                      [(ngModel)]="workOrderAccess.startDate"
                    >
                    </mat-slide-toggle>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="alert alert-success" role="alert" style="background-color: #eeeeee;padding: 0.3rem;border: none">
            <div class="row">
              <div class="col-md-7 ">
                <h6 class="alert-heading"> زمان پایان کار</h6>
              </div>
              <div class="col-md-5 ">
                <div class=" align-content-end">

                  <section class="example-section">
                    <mat-slide-toggle
                      disabled
                      (change)="changeNumberOfField($event)"
                      class="example-margin"
                      id="endDate"
                      [(ngModel)]="workOrderAccess.endDate"
                    >
                    </mat-slide-toggle>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="alert alert-success" role="alert" style="background-color: #eeeeee;padding: 0.3rem;border: none">
            <div class="row">
              <div class="col-md-7 ">
                <h6 class="alert-heading"> آخرین مهلت:</h6>
              </div>
              <div class="col-md-5 ">
                <div class=" align-content-end">

                  <section class="example-section">
                    <mat-slide-toggle
                      disabled
                      (change)="changeNumberOfField($event)"
                      class="example-margin"
                      id="requiredCompletionDate"
                      [(ngModel)]="workOrderAccess.requiredCompletionDate"
                    >
                    </mat-slide-toggle>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="alert alert-success" role="alert" style="background-color: #eeeeee;padding: 0.3rem;border: none">
            <div class="row">
              <div class="col-md-7 ">
                <h6 class="alert-heading"> انتخاب تصویر</h6>
              </div>
              <div class="col-md-5 ">
                <div class=" align-content-end">

                  <section class="example-section">
                    <mat-slide-toggle
                      disabled
                      (change)="changeNumberOfField($event)"
                      class="example-margin"
                      id="image"
                      [(ngModel)]="workOrderAccess.image"
                    >
                    </mat-slide-toggle>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </ng-container>
  </div>
  <div modal-footer>
    <div class="btn-group-sm">
      <button type="button" class="btn btn-cancel-back btn-sm " data-dismiss="modal" style="margin :0 6px ">
        انصراف
      </button>
      <!--<button type="button" class="btn btn-action btn-sm " [disabled]="numberOfField === 0"-->
      <!--(click)="changeSetting()" style="margin :0 5px ">-->
      <!--تایید و اعمال تغییرات-->
      <!--</button>-->
    </div>
  </div>
</nbw-modal>



