@mixin mq($from) {
  @media (max-width: $from) {
    @content;
  }
}
.myTable table thead, .myTable table  tbody {
  display: table;
  width: 100%;
  table-layout: fixed;

  @include mq('1105px') {
    width: 150%;

  }
  @include mq('755px') {
    width: 250%;

  }
  @include mq('400px') {
    width: 320%;

  }
}
img {
  height: 25px;
}

.relationship {
  margin: 0 -75px;
  color: #b7b7b7;
  font-size: 21px;

  span:nth-child(1) {
    animation: slowColor 3s infinite;
  }

  span:nth-child(2) {
    animation: slowColor2 3s infinite;

  }

  span:nth-child(3) {
    animation: slowColor3 3s infinite;
  }
}

@keyframes slowColor {
  0% {
    //animation-delay: 1s;
    color: #e7e7e7;
  }
  2% {
    color: #e7e7e7;
  }
  15% {
    color: #181818;
  }
  30% {
    color: #b7b7b7;
  }
  50% {
    color: #e7e7e7;
  }
  100% {
    color: #e7e7e7;
  }
}

@keyframes slowColor2 {
  0% {
    //animation-delay: 1s;
    color: #e7e7e7;
  }
  15% {
    color: #e7e7e7;
  }
  30% {
    color: #181818;
  }
  40% {
    color: #b7b7b7;
  }
  70% {
    color: #e7e7e7;
  }
  100% {
    color: #e7e7e7;
  }
}

@keyframes slowColor3 {
  0% {
    //animation-delay: 1s;
    color: #e7e7e7;
  }
  30% {
    color: #e7e7e7;
  }
  45% {
    color: #181818;
  }
  55% {
    color: #b7b7b7;
  }
  100% {
    color: #e7e7e7;
  }
}

.scheduler-border h4 {
  font-size: 20px;
  display: inline-table;
}

.boxLevel{
  border-bottom: 1px solid #dee2e6;
  background: #e6e6e6;
  border-radius: 5px 5px 0 0;
  padding: 10px 0 8px;
  color: #505050;
  &.currentLevel {
    color: #ffffff;
    background: #464646;
  }
}

ul.levelAction {
  .cursor-pointer {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    &:hover {
      text-decoration: underline;
      color: #262626;
    }
  }
}

.boxLevelAction {
  width: 100%;
  padding: 10px;
  font-size: 13px;
  text-align: center;
  border-bottom: 1px dashed #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  background: #f9f9f9;
}

.iconLevelAction {
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 50%;
  color: #737373;
  font-size: 16px;
  width: 31px;
  text-align: center;
  margin-left: 4px;
}

.tables_header .nav-pills {
  a {
    color: #737373;
    background-color: unset;
    padding-top: 5px;
    font-size: 16px;
    position: relative;
    i {
      width: 30px;
      height: 30px;
      justify-content: center;
      display: inline-flex;
      align-items: center;
      border-radius: 50%;
      //background: transparent;
      margin-left: 5px;
      position: relative;
      z-index: 1;
      &:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        z-index: 0;
        background: #f1e8e9;
        border-radius: 50%;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
      }

      &:before {
        z-index: 1;
      }

    }

    //&:not(.active) i + span {
    //  transform: scale(0);
    //  transform-origin: right;
    //  -webkit-transition: all 0.2s;
    //  -moz-transition: all 0.2s;
    //  -ms-transition: all 0.2s;
    //  -o-transition: all 0.2s;
    //  transition: all 0.2s;
    //  //visibility: hidden;
    //  //display: block;
    //  //max-width: 0;
    //  //position: absolute;
    //  //top: calc(50% - 40px);
    //  //right: 0;
    //}

    //i + span:before {
    //  content: '';
    //  height: 2px;
    //}
    &.active {
      color: #b81e25;

      i {
        width: 30px;
        height: 30px;
        justify-content: center;
        display: inline-flex;
        align-items: center;
        border-radius: 50%;
        margin-left: 5px;

        &:after {
          content: '';
          width: 100%;
          height: 100%;
          background: #f1e8e9;
        }

        & + span {
          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          -ms-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s;
          //position: initial;
          //top: initial;
          //right: initial;
        }
        //& + span:before {
        //  content: '';
        //  width: 100%;
        //}
      }
    }
  }
}

.long-text {
  width: calc(100% - 71px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  &:hover {
    width: calc(100% - 47px);;
    background: #fff;
    position: absolute;
  }
}

.placeholder {
  position: absolute;
  //right: 54px;
  right: 9px;
  top: 7px;
  font-size: 20px;
  z-index: 15;
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 51%, rgba(255, 255, 255, 0.15449929971988796) 100%);
  background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 1) 51%, rgba(255, 255, 255, 0.15449929971988796) 100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 51%, rgba(255, 255, 255, 0.15449929971988796) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff", GradientType=1);
  padding: 0 5px;
  display: inline-block;
  color: #8a8f94;
  transition: all 0.2s ease;

  &.active {
    top: -10px;
    z-index: 999;
    font-size: 14px;

  }
}
.textarea-style {
  height: 140px;
  overflow-y: auto;
  font-size: 15px;
  padding-top: 15px;
}

.active-row {
  background-color: #ececec;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  animation: backgroundAnimation 2.3s ease-in-out infinite;
}

#accordion {
  .pro-btn-cancel {
    display: none;
  }
}

@keyframes backgroundAnimation {
  0% {
    background-color: initial;
  }
  30% {
    background-color: #ececec;
  }
  70% {
    background-color: #ececec;
  }
  100% {
    background-color: initial;
  }
}

.table.table-bordered.table-responsive-md td, .table.table-bordered.table-responsive-md td > * {
  vertical-align: middle;
  padding: 5px;
}

.timer-check-by-my {
  padding: 8px 5px 5px;
  //background: #67de8c;
  border-radius: 5px;
  line-height: 20px;
  width: 100%;
  text-align: center;
  //color: #254e32;
}

//====================
*{
  direction: rtl;
  text-align: right;
}



.tree li {
  list-style-type:none;
  margin:0;
  padding:10px 5px 0 5px;
  position:relative
}
.tree li::before,
.tree li::after {
  content:'';
  right:-20px;
  position:absolute;
  left:auto
}
.tree li::before {
  border-left:2px solid #000;
  bottom:50px;
  height:100%;
  top:0;
  width:1px
}
.tree li::after {
  border-top:2px solid #000;
  height:20px;
  top:25px;
  width:25px
}
.tree li span {
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-right:2px solid #000;
  border-radius:3px;
  display:inline-block;
  padding:3px 8px;
  text-decoration:none;
  cursor:pointer;
}
.tree>ul>li::before,
.tree>ul>li::after {
  border:0
}
.tree li:last-child::before {
  height:27px
}
.tree li span:hover {
  background: white;
  border:2px solid #94a0b4;
}

[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}



::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items {
  max-height: 100px!important;
}

::ng-deep.mat-radio-button {
  border-color: #019574;
}

::ng-deep.mat-accent.mat-radio-checked {
  border-color: #019574;
}


::ng-deep.mat-radio-outer-circle {
  border-color: #019574;
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color: #019574;
}

::ng-deep.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  border-color: #019574;
  background-color: #019574;
}
//

.top {
  background-color: green;
  height: 100%;
  width: 100%;
  display: flex;
}

.middle {
  background-color: yellow;
  height: 100%;
  width: 100%;
  display: flex;
}

.bottom {
  background-color: red;
  height: 100%;
  width: 100%;
  display: flex;
}
.modalBody {
  width: 100%;
  height: 100%;
  margin: 0;
  display: inline;
}
//table {
//  font-family: arial, sans-serif;
//  border-collapse: collapse;
//  width: 100%;
//}

//td, th {
//  border: 1px solid #dddddd;
//  text-align: left;
//  padding: 5px;
//}
td {
  padding: 2px;
}


.card-footer {
  background-color: rgba(108, 105, 105, 0.16)!important;
}




//.left-item {
//  display: flex;
//  align-items: center;

#navbar-top-header {
  position: relative;
}


.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  color: inherit;
  cursor: pointer;
  outline: none;
  border-radius: 50%;
  background: #e8ebf5;
  &:hover {
    cursor: pointer;
    background: #cdd0da;
  }
}
#navbarSupportedContent {
  position: absolute;
  top: 100%;
  background: #fff;
  padding: 10px 0;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  z-index: 999;
  right: 50%;
  //-webkit-transform: translateX(34%);
  //transform: translateX(34%);
  li.nav-item {
    margin-bottom: 5px;
  }
  .navbar-nav {
    padding: 0 1rem;
  }
}


.activeSection {
  height: 44px;
  background: rgba(77, 104, 193, 0.11);
  font-size: 14px;
  color: rgba(16, 27, 79, 0.5);
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
}

.icons {
  display: flex;
  align-items: center;
  margin: 5px;

  &:hover {
    img {
      cursor: pointer;
    }
  }
}

.user {
  display: flex;
  align-items: center;
}

.user-name {
  font-size: 15px;
  color: rgba(16, 27, 79, 0.5);
  margin-left: 10px;
}

//}


.cardBox {
  overflow: hidden;
  display: inline-block;
  background-color: #ebebf2;
  position: relative;
  padding: 12px 25px;
  margin: 5px;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(43, 59, 93, .29);
  -webkit-transition: -webkit-transform .3s ease-in-out, box-shadow .3s ease-in-out;
  transition: transform .3s ease-in-out, box-shadow .3s ease-in-out, position .3s cubic-bezier(.4, .2, .5, 1.4);
  z-index: 1;
  cursor: pointer;
}

.cardBox:hover,
button:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.3);
}

