<ng-container *ngIf="listMode">

    <div class="card">
        <div class="card-header">
            <div class="row m-0">
                <div class="col-md-6 col-8 col-sm-6 card-title">
                    <i class="fa fa-list"></i>
                    <span> آرشیو دستورکار - زمانبندی</span>

                </div>
                <div class="col-md-6 col-4 col-sm-6 text-left">
                    <img src="assets/images/excel.PNG" class=" cursor-pointer"
                         (click)="getAll('excel')"
                         matTooltip="دانلود  به صورت excel"
                         style="    width: 30px;border-radius: 20%; height: 30px;">

                    <img src="assets/images/pdf-download.png" class=" cursor-pointer mx-2"
                         (click)="getAll('pdf')"
                         matTooltip="دانلود گزارش به صورت pdf"
                         style="    width: 30px;border-radius: 20%; height: 30px;">

                    <button title="بارگزاری مجدد"
                            (click)="getPage()"
                            class="btn btn-outline-secondary btn-sm" style="margin: 0 5px">
                        <i class="fa fa-redo"></i>
                    </button>
                    <button title="جستجو" data-toggle="collapse" href="#workTable-search"
                            class="btn btn-outline-secondary btn-sm" style="margin: 0 5px">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>


        <div class="card-body card-body-content">
            <div class="collapse showers" id="workTable-search">
                <div class="card" style="margin-bottom: 10px">
                    <div class="card-body card-body-filter">
                        <form class=" form" [formGroup]="htmlForm" (ngSubmit)="onSubmit()">
                            <div class="row m-0">

                                <div class="col-md-3">
                                    <label class="for-label" style="color: #191b1c">نام دستگاه</label>
                                    <ng-select bindLabel="name" bindValue="id"
                                               [loading]="loadingAllAsset"
                                               id="assetId"
                                               name="assetId"
                                               formControlName="assetId"
                                               [items]="assetList" [placeholder]="'نام دستگاه'"
                                               (change)="changeAssetIdList($event)"></ng-select>
                                </div>
                                <div class="col-md-3">
                                    <label class="for-label" style="color: #191b1c"> قطعه اصلی</label>
                                    <ng-select bindLabel="name" bindValue="id"
                                               [loading]="loadingMajorPart"
                                               id="majorPartList"
                                               name="majorPartList"
                                               formControlName="majorPartList"
                                               [items]="majorPartList" [placeholder]="'قطعه اصلی '"
                                               (change)="changeMajorPartList($event)"></ng-select>
                                </div>
                                <div class="col-md-3">
                                    <label class="for-label" style="color: #191b1c">قطعه جزئی</label>
                                    <input class="form-control form-control-sm"
                                           id="minorPart"
                                           name="minorPart"
                                           formControlName="minorPart"
                                           style="direction: ltr"
                                           placeholder="قطعه جزئی "
                                           autocomplete="off">
                                </div>

                                <!--            عنوان رسته کاری-->
                                <div class="col-lg-3 col-sm-6">
                                    <div class="form-group">
                                        <label> رسته کاری </label>
                                        <!--                    <label style="color: red">*</label>-->

                                        <ng-select
                                                [closeOnSelect]="true"
                                                [loading]="loadingWorkingFieldList"
                                                [items]="workingFieldList"
                                                id="workingField"
                                                name="workingField"
                                                bindValue="id"
                                                bindLabel="name"
                                                formControlName="workingField">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$"
                                                         let-index="index">
                                                {{item.name}}
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </div>
                                <!--            درجه اهمیت-->
                                <div class="col-lg-3 col-sm-6">
                                    <div class="form-group">
                                        <label> درجه اهمیت </label>
                                        <!--                    <label style="color: red">*</label>-->
                                        <ng-select
                                                [closeOnSelect]="true"
                                                [loading]="loadingDegreeOfImportanceList"
                                                [items]="degreeOfImportanceList"
                                                id="degreeOfImportance"
                                                name="degreeOfImportance"
                                                bindValue="id"
                                                bindLabel="name"
                                                formControlName="degreeOfImportance">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$"
                                                         let-index="index">
                                                {{item.name}}
                                            </ng-template>
                                        </ng-select>

                                    </div>
                                </div>
                                <!--            نوع فعالیت-->
                                <div class="col-lg-3 col-sm-6">
                                    <div class="form-group">
                                        <label> نوع فعالیت </label>
                                        <!--                    <label style="color: red">*</label>-->
                                        <ng-select
                                                [closeOnSelect]="true"
                                                [loading]="loadingTypeOfActivityList"
                                                [items]="typeOfActivityList"
                                                id="typeOfActivity"
                                                name="typeOfActivity"
                                                bindValue="id"
                                                bindLabel="name"
                                                formControlName="typeOfActivity">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$"
                                                         let-index="index">
                                                {{item.name}}
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </div>
                                <!--            وضعیت تجهیز -->
                                <div class="col-lg-3 col-sm-6">
                                    <div class="form-group">
                                        <label> وضعیت تجهیز </label>
                                        <!--                    <label style="color: red">*</label>-->
                                        <ng-select
                                                [closeOnSelect]="true"
                                                id="assetStatus"
                                                name="assetStatus"
                                                bindValue="id"
                                                bindLabel="name"
                                                formControlName="assetStatus">
                                            <ng-option [value]="AssetStatus.STOP"> متوقف</ng-option>
                                            <ng-option [value]="AssetStatus.RUN"> درحال کار</ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                            </div>

                            <div class="row m-0">

                                <!--  تاریخ سررسید(از تاریخ) -->
                                <div class="col-lg-3 col-sm-6">
                                    <div class="form-group">
                                        <label> تاریخ سررسید(از تاریخ) </label>
                                        <input type="text" class="form-control"
                                               style="direction: ltr"
                                               id="inputStartDate"
                                               formControlName="startDate"
                                               name="startDate"
                                               autocomplete="off">
                                    </div>
                                </div>
                                <!--  تاریخ سررسید(تا تاریخ) -->
                                <div class="col-lg-3 col-sm-6">
                                    <div class="form-group">
                                        <label> تاریخ سررسید(تا تاریخ) </label>
                                        <input type="text" class="form-control"
                                               style="direction: ltr"
                                               id="inputEndDate"
                                               formControlName="endDate"
                                               name="endDate"
                                               autocomplete="off">
                                    </div>
                                </div>
                            </div>
                            <div class="row m-0">

                                <div class="col-lg-12 col-md-6 text-left" style="margin-top: 25px;">
                                    <button class="btn btn-sm  btn-search" type="submit">
                                        جستجو
                                    </button>
                                    <button class="btn btn-sm  btn-search mx-2" type="reset"
                                            (click)="inputStartDate=null;inputEndDate=null">
                                        پاک کردن
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="loading-get-one text-center" *ngIf="loading">
                <span class="mt-5 px-4  align-items-center d-inline-flex">
                  <span class="fa fa-spinner fa-spin ml-2"></span>
                  درحال بارگذاری
                </span>
            </div>

            <ng-container *ngIf="!loading && !entityList.length">
                <div class="row justify-content-center">
                    <span> درخواستی وجود ندارد.</span>
                </div>

            </ng-container>

            <div class="tab-content" id="pills-tabContent" *ngIf="!loading && entityList.length">
                <div class="tab-pane fade show active myTable overflow-auto" id="pills-home" role="tabpanel"
                     style="height: 60vh;overflow: auto"

                     aria-labelledby="pills-home-tab">
                    <!--تمامی درخواست ها-->
                    <ng-container *ngIf="entityList.length">

                        <table class="table table-striped table-bordered table-responsive-md"
                               style="display: inline-table !important; min-width: 1500px!important;overflow: auto !important;">
                            <thead>
                            <tr style="text-align: center">
                                <th>ردیف</th>
                                <th>نام دستگاه</th>
                                <th>قطعه ی اصلی</th>
                                <th>قطعه ی جزئی</th>
                                <th> رسته کاری</th>
                                <th>نوع فعالیت</th>
                                <th> شرح فعالیت</th>
                                <th> درجه اهمیت</th>
                                <th> وضعیت تجهیز</th>
                                <th> مدت زمان فعالیت(دقیقه)</th>
                                <th>تاریخ سررسید</th>
                                <th>تاریخ اقدام</th>
                                <th>مشاهده</th>
                                <th>ویرایش</th>
                            </tr>
                            </thead>
                            <tbody>
                            <ng-container *ngFor="let entity of entityList;let i=index">
                                <tr style="text-align: center">
                                    <td>
                                        {{(i + 1 + (pageIndex * pageSize))}}
                                    </td>
                                    <td>{{entity?.assetName}}
                                    <td>{{entity?.mainSubSystemName}}</td>
                                    <td>{{entity?.minorSubSystem}}</td>
                                    <td>{{entity?.workCategoryName}}</td>
                                    <td>{{entity?.activityTypeName}}</td>
                                    <td style="overflow: hidden;white-space: nowrap;
                                    text-overflow: ellipsis;max-width: 300px;cursor: pointer"
                                        (click)="sowModalSelectedSolution(entity)">{{entity?.solution}}</td>
                                    <td>{{entity?.importanceDegreeName}}</td>
                                    <td>
                                        <ng-container *ngIf="entity?.assetStatus===AssetStatus.STOP"> متوقف
                                        </ng-container>
                                        <ng-container *ngIf="entity?.assetStatus===AssetStatus.RUN"> درحال کار
                                        </ng-container>

                                    </td>
                                    <td>{{entity?.activityTime}}</td>
                                    <td class="text-center" style="direction: ltr">
                                        {{myMoment.convertIsoToJDate(entity?.startDate) | perNumber}}
                                    </td>
                                    <td>
                                        {{myMoment.convertIsoToJDate(entity?.endDate) | perNumber}}
                                    </td>
                                    <td class="text-center">
                                        <ng-container *ngIf="roleList.WorkOrderScheduling_see;else notEditSeeTemp">
                                            <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2"
                                               (click)="chooseSelectedItemForView(entity)"
                                               style="cursor: pointer ; font-weight: bold">
                                                <i class="fa fa-eye" title="مشاهده"></i>
                                            </a>
                                        </ng-container>
                                        <ng-template #notEditSeeTemp>
                                            <i class="fa fa-eye" title="مشاهده" style="cursor: no-drop"></i>

                                        </ng-template>
                                    </td>
                                    <td class="text-center">
                                        <ng-container
                                                *ngIf="roleList.WorkOrderScheduling_update;else notEditAccessTemp">

                                            <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2"
                                               (click)="chooseSelectedItemForEdit(entity)"
                                               style="cursor: pointer ; font-weight: bold">
                                                <i class="fa fa-edit" title="ویرایش"
                                                   *ngIf="!loadingForCheckUpdate||entity.id!==selectedWorkOrderIdForCheck"></i>
                                                <i *ngIf="loadingForCheckUpdate&&entity.id===selectedWorkOrderIdForCheck"
                                                   class="fa fa-spinner fa-pulse fa-1x"></i>
                                            </a>
                                        </ng-container>
                                        <ng-template #notEditAccessTemp>
                                            <i class="fa fa-edit" title="ویرایش" style="cursor: no-drop"></i>

                                        </ng-template>
                                    </td>

                                </tr>
                            </ng-container>

                            </tbody>
                        </table>
                    </ng-container>


                </div>
            </div>
            <!--    pagination-->
            <app-paginator
                    [totalElements]="length"
                    [pageSize]="pageSize"
                    [pageIndex]="pageIndex"
                    [pageSizeOptions]="[]"
                    [showFirstLastButtons]="true"
                    (page)=" changePage($event)"
            ></app-paginator>


            <!--    pagination-->

        </div>
    </div>
</ng-container>
<ng-container *ngIf="!listMode">
    <app-action
            [entityId]="selectedItemIdForAction"
            [actionMode]="modeForAction"
            (back)="backEmit()"
            (edit)="getPage()"
    ></app-action>
</ng-container>
<!--//////// نمایش توضیحات//////////-->
<nbw-modal
        [hasHeader]="true"
        [hasFooter]="false"
        (onClose)="selectedSolution=null"
        [modalSize]="MyModalSize.DEFAULT"
        autoShow="false"
        [myId]="'solutionModalId'">
    <div modal-header>
        شرح فعالیت
    </div>
    <div modal-body>
        <div class="col-md-12">
            <div class="row">
                {{selectedSolution}}

            </div>
        </div>
    </div>
</nbw-modal>


<ng-container>
    <div class="overflow-auto myTable1" id="myTable1"
         style="position: absolute;z-index: -9999;">
        <table id='htmlData' class=" table table-striped table-bordered table-responsive-md"

               style="display: inline-table !important;      overflow: auto !important;">
            <thead>
            <tr style="text-align: center">
                <th>ردیف</th>
                <th>نام دستگاه</th>
                <th>قطعه ی اصلی</th>
                <th>قطعه ی جزئی</th>
                <th> رسته کاری</th>
                <th>نوع فعالیت</th>
                <th> شرح فعالیت</th>
                <th> درجه اهمیت</th>
                <th> وضعیت تجهیز</th>
                <th> مدت زمان فعالیت(دقیقه)</th>
                <th>تاریخ سررسید</th>
                <th>تاریخ اقدام</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let entity of entityListForReport;let i=index">
                <tr style="text-align: center">
                    <td>
                        {{(i + 1 + (pageIndex * pageSize))}}
                    </td>
                    <td>{{entity?.assetName}}
                    <td>{{entity?.mainSubSystemName}}</td>
                    <td>{{entity?.minorSubSystem}}</td>
                    <td>{{entity?.workCategoryName}}</td>
                    <td>{{entity?.activityTypeName}}</td>
                    <td style="overflow: hidden;white-space: nowrap;
                                    text-overflow: ellipsis;max-width: 300px;cursor: pointer"
                        (click)="sowModalSelectedSolution(entity)">{{entity?.solution}}</td>
                    <td>{{entity?.importanceDegreeName}}</td>
                    <td>
                        <ng-container *ngIf="entity?.assetStatus===AssetStatus.STOP"> متوقف
                        </ng-container>
                        <ng-container *ngIf="entity?.assetStatus===AssetStatus.RUN"> درحال کار
                        </ng-container>

                    </td>
                    <td>{{entity?.activityTime}}</td>
                    <td class="text-center" style="direction: ltr">
                        {{myMoment.convertIsoToJDate(entity?.startDate) | perNumber}}
                    </td>
                    <td class="text-center" style="direction: ltr">
                        {{myMoment.convertIsoToJDate(entity?.endDate) | perNumber}}
                    </td>


                </tr>
            </ng-container>

            </tbody>
        </table>

    </div>

</ng-container>
