<!--<div class=" w-100">-->
  <!--<div class="register-container">-->
      <!--<div class="registerbox bg-white">-->
        <!--<fieldset class="scheduler-border">-->
          <!--<legend class="scheduler-border"><h4 style="color: #51575d">اطلاعات کارمند</h4></legend>-->
          <!--<div class="form-inline">-->
            <!--<div class="col-md-3 col-sm-6 col-12 form-inline mb-4" dir="ltr">-->
              <!--<div class="w-100 input-group">-->
                <!--<label class="placeholder active">نام</label>-->
                <!--<p class="form-control text-right">{{user.firstName}}</p>-->
                <!--<div class="input-group-append">-->
                    <!--<span class="input-group-text">-->
                      <!--<span class="fa fa-user-circle" style="color: #8086a3;"></span>-->
                    <!--</span>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-3 col-sm-6 col-12 form-inline mb-4" dir="ltr">-->
              <!--<div class="w-100 input-group">-->
                <!--<label class="placeholder active">نام خانوادگی</label>-->
                <!--<p class="form-control text-right">{{user.lastName}}</p>-->
                <!--<div class="input-group-append">-->
                    <!--<span class="input-group-text">-->
                      <!--<span class="fa fa-user-circle" style="color: #8086a3;"></span>-->
                    <!--</span>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-3 col-sm-6 col-12 form-inline mb-4" dir="ltr">-->
              <!--<div class="w-100 input-group">-->
                <!--<label class="placeholder active">کد ملی</label>-->
                <!--<p class="form-control text-right">{{user.identityId}}</p>-->
                <!--<div class="input-group-append">-->
                    <!--<span class="input-group-text">-->
                      <!--<span class="fa fa-user-circle" style="color: #8086a3;"></span>-->
                    <!--</span>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-3 col-sm-6 col-12 form-inline mb-4" dir="ltr">-->
              <!--<div class="w-100 input-group">-->
                <!--<label class="placeholder active">تلفن همراه</label>-->
                <!--<p class="form-control text-right">{{user.phone}}</p>-->
                <!--<div class="input-group-append">-->
                    <!--<span class="input-group-text">-->
                      <!--<span class="fa fa-user-circle" style="color: #8086a3;"></span>-->
                    <!--</span>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="form-inline">-->
            <!--<div class="col-md-3 col-sm-6 col-12 form-inline mb-4" dir="ltr">-->
              <!--<div class="w-100 input-group">-->
                <!--<label class="placeholder active">کد کارمندی</label>-->
                <!--<p class="form-control text-right">{{user.employeeCode}}</p>-->
                <!--<div class="input-group-append">-->
                    <!--<span class="input-group-text">-->
                      <!--<span class="fa fa-user-circle" style="color: #8086a3;"></span>-->
                    <!--</span>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-3 col-sm-6 col-12 form-inline mb-4" dir="ltr">-->
              <!--<div class="w-100 input-group">-->
                <!--<label class="placeholder active">پست</label>-->
                <!--<p class="form-control text-right">{{user.userType.title}}</p>-->
                <!--<div class="input-group-append">-->
                    <!--<span class="input-group-text">-->
                      <!--<span class="fa fa-user-circle" style="color: #8086a3;"></span>-->
                    <!--</span>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-6 col-sm-6 col-12 form-inline mb-4" dir="ltr">-->
              <!--<div class="w-100 input-group">-->
                <!--<label class="placeholder active">پست الکترونیکی</label>-->
                <!--<p class="form-control text-right">{{user.email}}</p>-->
                <!--<div class="input-group-append">-->
                    <!--<span class="input-group-text">-->
                      <!--<span class="fa fa-user-circle" style="color: #8086a3;"></span>-->
                    <!--</span>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</fieldset>-->
      <!--</div>-->
      <!--<div class="registerbox-submit col-md-12">-->
        <!--&lt;!&ndash;<button class="btn btn-action pull-right" type="submit">ذخیره اطلاعات</button>&ndash;&gt;-->
        <!--<a class="btn btn-warning " style="margin-right: 10px" [routerLink]="['/panel/activity/memberList']">بازگشت</a>-->
      <!--</div>-->
    <!--</div>-->
<!--</div>-->
