

<!--<div class="my-row">-->
  <!--<div class="w-100">-->
    <!--<h4 class="tables_header d-flex">-->
      <!--کارتابل من-->
      <!--<ul class="nav nav-pills">-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link active"-->
             <!--data-toggle="pill"-->
             <!--href="#pills-home"-->
             <!--aria-controls="pills-home"-->
             <!--aria-selected="true"-->
             <!--(click)="changeMode('active')"-->
             <!--&gt;-->
            <!--<i class="fa fa-inbox"></i>-->
            <!--<span>فرایند در انتظار تایید من</span>-->
          <!--</a>-->

        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link"-->
             <!--data-toggle="pill"-->
             <!--href="#pills-history"-->
             <!--aria-controls="pills-history"-->
             <!--aria-selected="true"-->
             <!--(click)="changeMode('history')"-->
             <!--&gt;-->
            <!--<i class="fa fa-history"></i>-->
            <!--<span>تاریخچه</span>-->
          <!--</a>-->
        <!--</li>-->
      <!--</ul>-->
      <!--<div class="col-md-6 text-left">-->
        <!--<button title="جستجو" data-toggle="collapse"-->
                <!--(click)="openSearchBox = !openSearchBox"-->
                <!--class="btn btn-outline-secondary btn-sm" style=" margin-left: -167px">-->
          <!--<i class="fa fa-search" ></i>-->
        <!--</button>-->
      <!--</div>-->
    <!--</h4>-->
    <!--<hr>-->

    <!--<div class="tab-content">-->
      <!--<div class="tab-pane  active " id="pills-home" style="padding: 20px">-->
       <!--<app-worktable-list [openSearchBox]="openSearchBox"-->
         <!--&gt;-->

        <!--</app-worktable-list>-->

      <!--</div>-->


      <!--<div class="tab-pane  fade " id="pills-history" style="padding: 20px">-->
        <!--<app-list-history *ngIf="pillsHistory">-->
        <!--</app-list-history>-->
      <!--</div>-->


    <!--</div>-->


  <!--</div>-->
<!--</div>-->



