<!--<div class="card rounded-0 h-100">-->
<!--  <div class="card-title mb-1 p-3" >-->
<!--    <div class="col-md-12">-->
<!--      <div class="row" >-->
<!--&lt;!&ndash;        <div *ngIf="dontUser" style="margin-right: 400px;&ndash;&gt;-->
<!--&lt;!&ndash;         padding-top: 50px;padding-bottom: 50px">کاربری برای شما انتخاب نشده است!</div>&ndash;&gt;-->
<!--      <div class="col-md-4" style="margin-top: 9px">-->
<!--    <i class="fa fa-list"></i>&nbsp;&nbsp;-->
<!--    <span>لیست دستور کار تخصیص یافته شده به:</span>-->
<!--      </div>-->

<!--    <div class="col-md-3" style="margin-right: -50px;">-->
<!--      &lt;!&ndash;<br>&ndash;&gt;-->
<!--      <ng-select [(ngModel)]="userId"  >-->
<!--        <ng-option *ngFor="let item of userList" [value]="item.id">{{item.name}} {{item.family}}</ng-option>-->
<!--      </ng-select>-->
<!--      <div class="col-md-3" style="margin-right: -70px;">-->
<!--        &lt;!&ndash;<br>&ndash;&gt;-->

<!--      </div>-->
<!--    </div>-->
<!--        <div class="col-md-5"  style="">-->
<!--    <button [routerLink]="'action'" [queryParams]="{mode: actionMode.ADD}"-->
<!--            class="btn btn-action btn-sm" style="float: left; margin-top: -5px; margin-left: -83px;">-->
<!--      <i class="fa fa-plus-circle fa-2x"></i>-->
<!--    </button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <hr style="margin: 0">-->
<!--  <div class="card-body" >-->
<!--    <app-assigned-work-order-list [userId]="userId"></app-assigned-work-order-list>-->
<!--  </div>-->
<!--</div>-->
