<!--<div class="card rounded-0 h-100">-->
<!--  <div class="card-title mb-1 p-3">-->
<!--    <i class="fa fa-list"></i>&nbsp;&nbsp;-->
<!--    <span>لیست پیام های سیستم</span>-->

<!--&lt;!&ndash;    طبق باگ گزارش شده : برای این قسمت افزودن پیام برداشته بشه&ndash;&gt;-->
<!--&lt;!&ndash;    <button (click)="AddMessage()" class="btn btn-action btn-sm" style="float: left; margin-top: -5px">&ndash;&gt;-->
<!--&lt;!&ndash;      <i class="fa fa-plus-circle fa-2x"></i>&ndash;&gt;-->
<!--&lt;!&ndash;    </button>&ndash;&gt;-->
<!--  </div>-->
<!--  <hr style="margin: 0">-->
<!--  <div class="card-body">-->
<!--    <app-system-messages-list></app-system-messages-list>-->
<!--  </div>-->
<!--</div>-->

