<!--////////// Search input //////////-->
<div class="collapse" id="chargeDepartment-search">
    <div class="card" style="margin-bottom: 10px">
        <div class="card-body card-body-filter">
            <div class="row" style="margin-bottom: 10px">
                <div class="col-md-4 form-group required col-sm-12">
                    <label class="for-label">عنوان </label>
                    <input class="form-control form-control-sm" [(ngModel)]="term"
                           [placeholder]="' عنوان   '"
                           style="font-size: 12px">
                </div>
                <div class="col-md-4 form-group required col-sm-12">
                    <label class="for-label">کد :</label>
                    <input class="form-control form-control-sm" [(ngModel)]="codeSearch"
                           [placeholder]="' کد '"
                           style="font-size: 12px">
                </div>

                <div class="col-md-1" style="margin-top: 30px">
                    <button class="btn btn-sm btn-search" (click)="search()">
                        جستجو
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<app-loading-spinner [loadingList]="true" *ngIf="loading"></app-loading-spinner>
<!--/////////empety List ////////////////-->
<div class="col-md -12" *ngIf="!entityList.length && !loading">
    <div class="text-center" style="color: #6d6d6e">
        <a>نتیجه ای یافت نشد.</a>
    </div>
</div>


<ng-container *ngIf="entityList.length">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <table class="table table-bordered table-responsive-md table-striped">
            <thead>
            <tr style="text-align: center">

                <th class="text-center" style="width: 5%">ردیف</th>
                <th class="text-center">عنوان</th>
                <th class="text-center">کد</th>
                <th class="text-center" style="width: 5%">ویرایش</th>
                <th class="text-center" style="width: 5%">حذف</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let item of entityList; let i = index">
                <tr class="text-center">
                    <td>
                        {{(i + 1 + (pageIndex * pageSize))}}
                    </td>
                    <td>{{item.title}}</td>
                    <td>{{item.code}}</td>
                    <td>
                        <ng-container *ngIf="roleList.ChargeDepartment_update;else notEditAccessTemp">

                            <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2"
                               (click)="chooseSelectedItemForEdit(item)" style="cursor: pointer ; font-weight: bold">
                                <i class="fa fa-edit" title="ویرایش"></i>
                            </a>
                        </ng-container>
                        <ng-template #notEditAccessTemp>
                            <i class="fa fa-edit" title="ویرایش" style="cursor: no-drop"></i>

                        </ng-template>
                    </td>
                    <td>
                        <ng-container *ngIf="roleList.ChargeDepartment_delete;else notDeleteAccessTemp">
                            <a class="btn btn-sm btn-outline-lightning rounded-0"
                               style="cursor: pointer"
                               (click)="showModalDelete(item,i)"
                            >
                                <i class="fa fa-trash" title="حذف"></i>
                            </a>
                        </ng-container>
                        <ng-template #notDeleteAccessTemp>
                            <i class="fa fa-trash" style="cursor: no-drop" title="حذف"></i>

                        </ng-template>
                    </td>
                </tr>
            </ng-container>

            </tbody>
        </table>


        <!--    pagination-->
        <app-paginator
                [totalElements]="length"
                [pageSize]="pageSize"
                [pageIndex]="pageIndex"
                [pageSizeOptions]="[]"
                [showFirstLastButtons]="true"
                (page)=" changePage($event)"
        ></app-paginator>


        <!--    pagination-->

        <!--  <shr-pagination-->
        <!--    *ngIf="responsibleDepartmentList.itemPage !== null && responsibleDepartmentList.itemPage !== undefined"-->
        <!--    [indicatorCount]="responsibleDepartmentList.indicatorCount"-->
        <!--    [totalPages]="responsibleDepartmentList.itemPage.totalPages"-->
        <!--    [currentPage]="responsibleDepartmentList.queryParamReal.paging.page"-->
        <!--    (selectedPage)="setCurrentPage($event)"-->
        <!--    class="class1"-->
        <!--  ></shr-pagination>-->


    </div>
</ng-container>
<!--**************************************************************************-->
<app-conferm-delete
        [title]="selectedItemForDelete.title"
        [loading]="selectedItemForDelete.loading"
        [modalId]="'modalId'+selectedItemForDelete.id"
        (value)="deleteItem($event)"
></app-conferm-delete>
