<div class="collapse" id="form-cat-search">
  <div class="card" style="margin-bottom: 10px">
    <div class="card-body card-body-filter">
      <div class="row" style="margin-bottom: 10px">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="for-label">عنوان :</label>
                <input [(ngModel)]="term"  [placeholder]="'عنوان '" class=" form-control">
              </div>

            </div>

            <div class="col-md-2 col-12 col-sm-12 text-left " style="margin-top: 30px">
              <button class="btn btn-sm btn-search" (click)="search()">
                <!--<i class="fa fa-search"></i>-->
                جستجو
              </button>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!--////////// Search input //////////-->



<!--/////// loading /////////-->
<app-loading-spinner [loadingList]="true" *ngIf="loading"></app-loading-spinner>


<!--/////////empety List ////////////////-->
<div class="col-md -12" *ngIf="!entityList.length && !loading ">
  <br>
  <br>
  <div class="text-center" style="color: #6d6d6e">
    <a *ngIf="entityList.length===0">هیچ اطلاعاتی یافت نشد!</a>
  </div>
</div>


<!--///////// Table ////////////////-->
<!--<ng-container *ngIf="entityList.length > 0">-->

<ng-container *ngIf="!loading && entityList.length ">
  <table   class="table table-bordered table-responsive-md table-striped">
    <thead>

        <tr style="text-align: center">
          <th class="text-center" style="width: 5%">ردیف</th>
          <th class="text-center">عنوان</th>
          <th class="text-center" style="width: 5%">ویرایش</th>
          <th class="text-center" style="width: 5%">حذف</th>
        </tr>
    </thead>
    <ng-container *ngIf="entityList.length > 0">

      <tbody>
      <ng-container *ngFor="let item of entityList; let i = index">
        <tr class="text-center">
          <td>
            {{(i + 1 + (pageIndex * pageSize))}}
          </td>
          <td>{{(item?.title)}}</td>

          <td>
            <ng-container *ngIf="roleList.formCategory_update;else notEditAccessTemp">

              <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2"
                 (click)="chooseSelectedItemForEdit(item)" style="cursor: pointer ; font-weight: bold">
                <i class="fa fa-edit" title="ویرایش"></i>
              </a>
            </ng-container>
            <ng-template #notEditAccessTemp>
              <i class="fa fa-edit" title="ویرایش" style="cursor: no-drop"></i>

            </ng-template>
          </td>
          <td>
            <ng-container *ngIf="roleList.formCategory_delete;else notDeleteAccessTemp">
              <a class="btn btn-sm btn-outline-lightning rounded-0"
                 style="cursor: pointer"
                 (click)="showModalDelete(item,i)"
              >
                <i class="fa fa-trash" title="حذف"></i>
              </a>
            </ng-container>
            <ng-template #notDeleteAccessTemp>
              <i class="fa fa-trash" style="cursor: no-drop" title="حذف"></i>

            </ng-template>
          </td>

                </tr>
      </ng-container>

      </tbody>
    </ng-container>
  </table>
<!--  {{dataOfFormCategoryList.queryParamReal.paging.page}}-->
  <!--    pagination-->
  <app-paginator
          [totalElements]="length"
          [pageSize]="pageSize"
          [pageIndex]="pageIndex"
          [pageSizeOptions]="[]"
          [showFirstLastButtons]="true"
          (page)=" changePage($event)"
  ></app-paginator>


  <!--    pagination-->
</ng-container>
<!--</ng-container>-->
<!--**************************************************************************-->
<app-conferm-delete
  [title]="selectedItemForDelete.title"
  [loading]="selectedItemForDelete.loading"
  [modalId]="'modalId'+selectedItemForDelete.id"
  (value)="deleteItem($event)"
></app-conferm-delete>
