<!--<div class="card">-->
<!--  <div class="card-header">-->
<!--    <div class="row">-->
<!--      <div class="col-md-6 col-8 col-sm-6 card-title">-->
<!--        <i class="fa fa-list"></i>&nbsp;&nbsp;-->
<!--        لیست آرشیو دستور کار-->
<!--      </div>-->
<!--      <div class="col-md-6 col-4 col-sm-6 text-left">-->
<!--        <button title="جستجو" data-toggle="collapse" href="#work-search" (click)="readSearchService = true "-->
<!--                class="btn btn-outline-secondary btn-sm" style="margin: 0 5px">-->
<!--          <i class="fa fa-search" ></i>-->
<!--        </button>-->
<!--&lt;!&ndash;        <ng-container *ngIf="roleList.WorkOrder_create">&ndash;&gt;-->
<!--&lt;!&ndash;          <button [routerLink]="'action'" [queryParams]="{mode: actionMode.ADD}"&ndash;&gt;-->
<!--&lt;!&ndash;                  class="btn btn-secondary btn-sm">&ndash;&gt;-->
<!--&lt;!&ndash;            <i class="fa fa-plus"></i>&nbsp;&nbsp;&ndash;&gt;-->
<!--&lt;!&ndash;            افزودن&ndash;&gt;-->
<!--&lt;!&ndash;          </button>&ndash;&gt;-->
<!--&lt;!&ndash;        </ng-container>&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="card-body card-body-content">-->
<!--  </div>-->
<!--</div>-->
    <app-work-order-list [readSearchService]="readSearchService" ></app-work-order-list>
