<!--<div class="card rounded-0 h-100">-->
<!--  <div class="card-title mb-1 p-3">-->
<!--    <i class="fa fa-list"></i>&nbsp;&nbsp;-->
<!--    <span>لیست پیام های دریافت شده</span>-->

<!--&lt;!&ndash;  ****************  باگ گزارش شده: نباید تو لیست دریافتی امکان ثبت پیام جدید باشه *************&ndash;&gt;-->
<!--&lt;!&ndash;    <button [routerLink]="['action']" [queryParams]="{mode: actionMode.ADD}" class="btn btn-action btn-sm" style="float: left; margin-top: -5px">&ndash;&gt;-->
<!--&lt;!&ndash;      <i class="fa fa-plus-circle fa-2x"></i>&ndash;&gt;-->
<!--&lt;!&ndash;    </button>&ndash;&gt;-->
<!--  </div>-->
<!--  <hr style="margin: 0">-->
<!--  <div class="card-body">-->
<!--    <app-inbox-list></app-inbox-list>-->
<!--  </div>-->
<!--</div>-->


