<div class="row"style="    height: 50vh;
    max-height: 50vh;
    overflow: auto;">
    <div *ngIf="!isView" class=" col-md-12 " style="margin-top: 10px ; margin-bottom: 25px ;float: right ">
        <button class="btn btn-sm btn-secondary " (click)="addNewNotify()">
            <i class="fa fa-plus"></i>&nbsp;
            افزودن آگاه سازی
        </button>
    </div>
    <div class="col-md-12">
        <div class="text-center" *ngIf="!notifyList.length">
            <a style="color: #7884a7">هیچ اطلاعاتی ثبت نشده!</a>
        </div>
        <ng-container *ngIf="notifyList.length">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th class="text-center" style="width: 5%">ردیف</th>
                    <th class="text-center">کاربر</th>
                    <th class="text-center">هشدار</th>
                    <th class="text-center" style="width: 5%">ویرایش</th>
                    <th class="text-center" style="width: 5%">حذف</th>
                </tr>
                </thead>
                <tbody>

                <ng-container *ngFor="let item of notifyList; let i = index">
                    <tr class="text-center">
                        <td>{{i + 1}}</td>
                        <td>{{item?.user.name + ' ' + item?.user.family}}</td>
                        <td>
                            <ng-container *ngFor="let event of item.events; let i = index">
                                <ng-container *ngFor="let notifyEventList of notifyEventList">
                                    <ng-container *ngIf="notifyEventList._value === event.toString()">
                                        {{i + 1}}-
                                        {{notifyEventList._title}}
                                        <span *ngIf="i !== item?.events?.length - 1"><br></span>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </td>
                        <td *ngIf="!isView">
                            <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2"
                               (click)="chooseSelectedItemForEdit(item,i)" style="cursor: pointer ; font-weight: bold">
                                <i class="fa fa-edit" title="ویرایش"></i>
                            </a>
                        </td>
                        <td *ngIf="!isView">
                            <a class="btn btn-sm btn-outline-lightning rounded-0"
                               style="cursor: pointer" nbdAreYouSure (then)="deleteItem(item)">
                                <i class="fa fa-trash" title="حذف"></i>
                            </a>
                        </td>
                    </tr>
                </ng-container>

                </tbody>
            </table>
        </ng-container>
    </div>
</div>
<div class="col-md-12 text-left mt-2">
    <ng-container
            *ngIf="sendInformationNumberOfTabs.numberOfFormIdList < sendInformationNumberOfTabs.lengthFormIdList - 1  || sendInformationNumberOfTabs.hasForm">
        <button class="btn btn-sm btn-warning" type="button" (click)="nextOrPrev('next')">
            <span>بعدی</span>
        </button>
    </ng-container>
    <button (click)="nextOrPrev('prev')" class="btn btn-sm btn-cancel-back" type="button" style="float: right ">

        <span>قبلی</span>
    </button>
</div>


<div class="modal" tabindex="-1" role="dialog" id="notifyModal" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-lg-12">
                    <div class="modal-title">
                        <i class="fa fa-plus"></i> &nbsp;&nbsp;
                        <span *ngIf="mode === actionMode.ADD"> افزودن اگاه سازی</span>
                        <span *ngIf="mode === actionMode.EDIT"> ویرایش اگاه سازی</span>
                    </div>
                </div>
            </div>

            <form #notifyForm="ngForm">
                <div class="modal-body" style="display: flow-root; padding: 15px;border-radius: 5px">


                    <div class="row">
                        <div class="col-md-6 form-group required col-sm-12">
                            <label class="for-label">انتخاب پست </label>
                            <span style="color: red">*</span>
                            <div class="input-group input-group-sm">
                                <ng-select
                                        style="width: 100%"
                                        [loading]="loadingUserTypeList2"
                                        class="auto-grow"
                                        bindLabel="name"
                                        name="selectedUserTypeId2"
                                        bindValue="id"
                                        [disabled]="isView"
                                        [(ngModel)]="selectedUserTypeId2"
                                        (change)="changeUserType($event)"
                                        [items]="userTypeList2"
                                        [placeholder]="'عنوان پست'">

                                </ng-select>
                            </div>
                        </div>
                        <div class="col-md-6 text-right ">

                            <label class="for-label">کاربر</label>
                            <ng-select (change)="addUserToNotify()"
                                       style="width: 100%;padding: 0px" dir="rtl" [(ngModel)]="notify.user.id"
                                       [ngModelOptions]="{standalone: true}">
                                <ng-option *ngFor="let item of userList2" [value]="item.id">
                                    {{item.name + ' ' + item.family}}
                                </ng-option>
                            </ng-select>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 3vh" *ngFor="let item of notifyEventList;let i=index">
                        <div class="col-md-6" style="text-align: right">
                            <div class="demo-checkboxes">
                                <input [id]="i" type="checkbox" [value]="item._value"
                                       [checked]="checkNotifyChecked(item._value)"
                                       (change)="checkNotify(item)">
                                <label style="cursor: pointer;margin-right: 10px">
                                    {{item._title}}
                                </label>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <div class="btn-group-sm">
                        <button type="button" class="btn btn-cancel-back btn-sm " data-dismiss="modal"
                                style="margin :0 5px "
                                (click)="cancelModal()">
                            انصراف
                        </button>
                        <button type="button" class="btn btn-sm btn-action" (click)="action()">
                            <span *ngIf="mode === actionMode.ADD">ذخیره</span>
                            <span *ngIf="mode === actionMode.EDIT">ویرایش</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>


