<div class="collapse" id="chargeDepartment-search">
    <div class="card" style="margin-bottom: 10px">
        <div class="card-body card-body-filter">
            <div class="row" style="margin-bottom: 10px">
                <div class="col-md-4 form-group required col-sm-12">
                    <label class="for-label">عنوان </label>
                    <input class="form-control form-control-sm" [(ngModel)]="title"
                           [placeholder]="' عنوان   '"
                           style="font-size: 12px">
                </div>
                <div class="col-md-4 form-group required col-sm-12">
                    <label class="for-label">نماد واحد پولی :</label>
                    <input class="form-control form-control-sm" [(ngModel)]="isoCode"
                           [placeholder]="' نماد واحد پولی '"
                           style="font-size: 12px">
                </div>

                <div class="col-md-1" style="margin-top: 30px">
                    <button class="btn btn-sm btn-search" (click)="search()">
                        جستجو
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <app-loading-spinner [loadingList]="true" *ngIf="loading"></app-loading-spinner>

    <ng-container *ngIf="entityList.length===0 && loading === false">
        <div style="text-align: center">نتیجه ای یافت نشد.</div>
    </ng-container>


    <!--====================-->
    <div *ngIf="loading === false" class="tab-pane fade show active" id="pills-home" role="tabpanel"
         aria-labelledby="pills-home-tab">
        <table class="table table-bordered table-responsive-md table-striped">
            <thead>
            <tr style="text-align: center">
                <th class="text-center" style="width: 5%">ردیف</th>
                <th class="text-center">عنوان</th>
                <th class="text-center">نماد</th>
                <th class="text-center" style="width: 5%">ویرایش</th>
                <th class="text-center" style="width: 5%">حذف</th>
            </tr>
            </thead>
            <ng-container *ngIf="entityList.length>0">
                <tbody>
                <ng-container *ngFor="let item of entityList; let i = index">
                    <tr class="text-center">
                        <td>
                            {{(i + 1 + (pageIndex * pageSize))}}
                        </td>
                        <td>{{item.title}}</td>
                        <td>{{item.isoCode}}</td>

                        <td>
                            <ng-container *ngIf="roleList.Currency_update;else notEditAccessTemp">

                                <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2"
                                   (click)="chooseSelectedItemForEdit(item)" style="cursor: pointer ; font-weight: bold">
                                    <i class="fa fa-edit" title="ویرایش"></i>
                                </a>
                            </ng-container>
                            <ng-template #notEditAccessTemp>
                                <i class="fa fa-edit" title="ویرایش" style="cursor: no-drop"></i>

                            </ng-template>
                        </td>
                        <td>
                            <ng-container *ngIf="roleList.Currency_delete;else notDeleteAccessTemp">
                                <a class="btn btn-sm btn-outline-lightning rounded-0"
                                   style="cursor: pointer"
                                   (click)="showModalDelete(item,i)"
                                >
                                    <i class="fa fa-trash" title="حذف"></i>
                                </a>
                            </ng-container>
                            <ng-template #notDeleteAccessTemp>
                                <i class="fa fa-trash" style="cursor: no-drop" title="حذف"></i>

                            </ng-template>
                        </td>

                    </tr>
                </ng-container>

                </tbody>
            </ng-container>
        </table>
        <!--    pagination-->
        <app-paginator
                [totalElements]="length"
                [pageSize]="pageSize"
                [pageIndex]="pageIndex"
                [pageSizeOptions]="[]"
                [showFirstLastButtons]="true"
                (page)=" changePage($event)"
        ></app-paginator>


        <!--    pagination-->
    </div>
</div>
      <!--/////// loading /////////-->
<!--      <app-loading-spinner [loadingList]="true" *ngIf="loading"></app-loading-spinner>-->
<!--      <ng-container *ngIf="entityList.length===0 && loading === false">-->
<!--        <div style="text-align: center">نتیجه ای یافت نشد.</div>-->
<!--      </ng-container>-->
<!--      <ng-container *ngIf="entityList.length>0">-->
<!--        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">-->
<!--          <table   class="table table-bordered table-responsive-md table-striped">-->
<!--            <thead >-->
<!--            <tr style="text-align: center">-->
<!--          <th class="text-center" style="width: 5%">ردیف</th>-->
<!--          <th class="text-center">عنوان</th>-->
<!--          <th class="text-center">نماد</th>-->
<!--              <th class="text-center" style="width: 5%">ویرایش</th>-->
<!--              <th class="text-center" style="width: 5%">حذف</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <ng-container *ngFor="let item of entityList; let i = index">-->
<!--          <tr class="text-center">-->
<!--            <td>{{toolKit2.Common.En2Fa(i + 1)}}</td>-->
<!--            <td>{{item.title}}</td>-->
<!--            <td>{{item.isoCode}}</td>-->
<!--            <td>-->
<!--              <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2"-->
<!--                 *ngIf="roleList.Currency_update"-->
<!--                 (click)="chooseSelectedItemForEdit(item)" style="cursor: pointer ; font-weight: bold">-->
<!--                <i class="fa fa-edit" title="ویرایش"></i>-->
<!--              </a>-->
<!--            </td>-->
<!--            <td>-->
<!--              <a class="btn btn-sm btn-outline-lightning rounded-0"-->
<!--                 *ngIf="roleList.Currency_delete"-->
<!--                 style="cursor: pointer"-->
<!--                 (click)="showModalDelete(item,i)"-->
<!--              >-->
<!--                <i class="fa fa-trash" title="حذف"></i>-->
<!--              </a>-->
<!--            </td>-->
<!--          </tr>-->
<!--        </ng-container>-->

<!--        </tbody>-->
<!--      </table>-->
<!--        </div>-->
<!--      </ng-container>-->
    <!--**************************************************************************-->
<app-conferm-delete
  [title]="selectedItemForDelete.title"
  [loading]="selectedItemForDelete.loading"
  [modalId]="'modalId'+selectedItemForDelete.id"
  (value)="deleteItem($event)"
></app-conferm-delete>
