<!--////////// Search input //////////-->

<div class="collapse" id="storage-search">
    <div class="card" style="margin-bottom: 10px">
        <div class="card-body card-body-filter">
            <div class="row" style="margin-bottom: 10px">
                <div class="col-md-4 form-group required col-sm-12">
                    <label class="for-label">نام انبار</label>
                    <input class="form-control form-control-sm" [(ngModel)]="term"
                           [placeholder]="'نام انبار'"
                           style="font-size: 12px">
                </div>
                <div class="col-md-4 form-group required col-sm-12">
                    <label class="for-label">کد انبار</label>
                    <input class="form-control form-control-sm" [(ngModel)]="searchCode"
                           [placeholder]="'کد انبار'"
                           style="font-size: 12px">
                </div>
                <!--/////دارایی-->
                <div class="col-md-4 form-group required col-sm-12">
                    <label class="for-label">انتخاب مکان دارایی </label>
                    <div class="input-group input-group-sm">

                        <ng-select
                                style="width: 100%"
                                [(ngModel)]="selectedAssetId"
                                name="selectedAssetId"
                                class="auto-grow"
                                (scrollToEnd)="getAllAssetByTerm()"
                                [loading]="loadingAssetList"
                                [placeholder]="'انتخاب مکان دارایی'">
                            <ng-container *ngFor="let asset of assetList; let i= index ">

                                <ng-option
                                        [value]="asset.id">
                                    {{asset?.name }}
                                </ng-option>
                            </ng-container>

                        </ng-select>
                    </div>
                </div>

                <!--/////دارایی-->

                <div class="col-md-1" style="margin-top: 30px">
                    <button class="btn btn-sm btn-search" (click)="search()"
                    >
                        جستجو
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>


<app-loading-spinner [loadingList]="true" *ngIf="loading"></app-loading-spinner>


<!--/////////empety List ////////////////-->
<div class="col-md -12" *ngIf="!entityList.length && loading === false">
    <br>
    <br>
    <div class="text-center" style="color: #6d6d6e">
        <a *ngIf="!term">هیچ اطلاعاتی ثبت نشده!</a>
        <a *ngIf="term">هیچ اطلاعاتی یافت نشد!</a>
    </div>
</div>

<!--///////// Table ////////////////-->
<div *ngIf="entityList.length && !loading" class="tab-pane fade show active" id="pills-home" role="tabpanel"
     aria-labelledby="pills-home-tab">
    <ng-container *ngIf="entityList.length>0">
        <table class="table table-bordered table-responsive-md table-striped ">
            <thead>
            <tr style="text-align: center">
                <th class="text-center" style="width: 5%">ردیف</th>
                <th class="text-center">نام انبار</th>
                <th class="text-center">کد انبار</th>
                <th class="text-center">محل انبار</th>
                <th class="text-center" style="width: 5%">مشاهده</th>
                <th class="text-center" style="width: 5%">ویرایش</th>
                <th class="text-center" style="width: 5%">حذف</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let item of entityList; let i = index">
                <tr class="text-center">
                    <td>
                        {{(i + 1 + (pageIndex * pageSize))}}
                    </td>
                    <td>{{item.title}}</td>
                    <td>{{item.code}}</td>
                    <td>{{item?.assetName ? item?.assetName : '------'}}</td>
                    <td>

                        <ng-container *ngIf="roleList.Storage_see;else notSeeAccessTemp">

                            <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2"
                               (click)="chooseSelectedItemForSee(item)" style="cursor: pointer ; font-weight: bold">
                                <i class="fa fa-eye" title="مشاهده"></i>
                            </a>
                        </ng-container>
                        <ng-template #notSeeAccessTemp>
                            <i class="fa fa-eye" title="مشاهده" style="cursor: no-drop"></i>

                        </ng-template>


                    </td>
                    <td>

                        <ng-container *ngIf="roleList.Storage_update;else notEditAccessTemp">

                            <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2"
                               (click)="chooseSelectedItemForEdit(item)" style="cursor: pointer ; font-weight: bold">
                                <i class="fa fa-edit" title="ویرایش"></i>
                            </a>
                        </ng-container>
                        <ng-template #notEditAccessTemp>
                            <i class="fa fa-edit" title="ویرایش" style="cursor: no-drop"></i>

                        </ng-template>


                    </td>
                    <td>
                        <ng-container *ngIf="roleList.Storage_delete;else notDeleteAccessTemp">
                            <a class="btn btn-sm btn-outline-lightning rounded-0"
                               style="cursor: pointer"
                               (click)="showModalDelete(item,i)"
                            >
                                <i class="fa fa-trash" title="حذف"></i>
                            </a>
                        </ng-container>
                        <ng-template #notDeleteAccessTemp>
                            <i class="fa fa-trash" style="cursor: no-drop" title="حذف"></i>

                        </ng-template>


                    </td>
                </tr>
            </ng-container>

            </tbody>
        </table>
    </ng-container>
    <!--    pagination-->
    <app-paginator
            [totalElements]="length"
            [pageSize]="pageSize"
            [pageIndex]="pageIndex"
            [pageSizeOptions]="[]"
            [showFirstLastButtons]="true"
            (page)=" changePage($event)"
    ></app-paginator>


    <!--    pagination-->


</div>
<!--**************************************************************************-->
<app-conferm-delete
        [title]="selectedItemForDelete.title"
        [loading]="selectedItemForDelete.loading"
        [modalId]="'modalId'+selectedItemForDelete.id"
        (value)="deleteItem($event)"
></app-conferm-delete>
