<!--<div class="card rounded-0 h-100">-->
<!--  <div class="card-title mb-1 p-3">-->
<!--    <div class="col-md-12">-->
<!--      <div class="row">-->
<!--        <div class="col-md-4" style="margin-top: 9px">-->
<!--          <i class="fa fa-list"></i>&nbsp;&nbsp;-->
<!--          <span>لیست قطعات تخصیص یافته شده به:</span>-->
<!--        </div>-->
<!--        <div class="col-md-3" style="margin-right: -70px;">-->
<!--          &lt;!&ndash;<br>&ndash;&gt;-->
<!--          <ng-select [(ngModel)]="userId"-->
<!--                     -->
<!--                     dropdownPosition="bottom"-->
<!--          >-->
<!--            <ng-option *ngFor="let item of userList" [value]="item.id">{{item.name}} {{item.family}}</ng-option>-->
<!--          </ng-select>-->
<!--          <div class="col-md-3" style="margin-right: -70px;">-->
<!--            &lt;!&ndash;<br>&ndash;&gt;-->

<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;<div class="col-md-5" style="">&ndash;&gt;-->
<!--        &lt;!&ndash;<button [routerLink]="'action'" [queryParams]="{mode: actionMode.ADD}"&ndash;&gt;-->
<!--        &lt;!&ndash;class="btn btn-action btn-sm" style="float: left; margin-top: -5px; margin-left: -83px;">&ndash;&gt;-->
<!--        &lt;!&ndash;<i class="fa fa-plus-circle fa-2x"></i>&ndash;&gt;-->
<!--        &lt;!&ndash;</button>&ndash;&gt;-->
<!--        &lt;!&ndash;</div>&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <hr style="margin: 0">-->
<!--  <div class="card-body">-->
<!--    <app-assigned-part-list [userId]="userId"></app-assigned-part-list>-->
<!--  </div>-->
<!--</div>-->

