<div class="card">
  <div class="card-body-content card-body">
    <div class="row" >
      <ng-container >
        <div class="col-md-12 mb-2" *ngIf="modeW!== actionMode.VIEW && modeS !== actionMode.VIEW" >
          <button class="btn btn-sm btn-secondary "   (click)="addPartWithUsageCount()">انتخاب قطعه</button>
        </div>
      </ng-container>

      <div class="col-md-12" *ngIf="partWithUsageCountList.length > 0">
          <table class="table table-responsive-md table-bordered table-striped">
            <thead>

            <tr>
              <th class="text-center" style="width: 5%">ردیف</th>
              <th class="text-center">عنوان قطعه</th>
<!--              <th class="text-center"> کد قطعه</th>-->
              <th class="text-center">تعداد برنامه ریزی شده</th>
              <th class="text-center">تعداد واقعی</th>
              <th class="text-center" style="width: 5%" *ngIf="modeW!== actionMode.VIEW  && modeS !== actionMode.VIEW">ویرایش </th>
              <th class="text-center" style="width: 5%" *ngIf="modeW!== actionMode.VIEW  && modeS !== actionMode.VIEW">حذف</th>
            </tr>
            </thead>
            <tbody>

            <ng-container *ngFor="let item of partWithUsageCountList; let i = index">
              <tr class="text-center">
                <td>{{i + 1}}</td>
                <td>{{item?.partName}}</td>
<!--                <td>{{item?.partCode}}</td>-->
                <td>{{item?.planedQuantity}}</td>
                <td>{{item?.actualQuantity}}</td>
                <td *ngIf="modeW!== actionMode.VIEW && modeS !== actionMode.VIEW">
                  <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2"
                     (click)="chooseSelectedItemForEdit(item,i)" style="cursor: pointer ; font-weight: bold" *ngIf="modeS!== actionMode.VIEW  ">
                    <i class="fa fa-edit" title="ویرایش"></i>
                  </a>
                </td>
                <td *ngIf="modeW!== actionMode.VIEW  && modeS !== actionMode.VIEW" >
                  <a class="btn btn-sm btn-outline-lightning rounded-0"
                     style="cursor: pointer" nbdAreYouSure (then)="deleteItem(item)" >
                    <i class="fa fa-trash" title="حذف"></i>
                  </a>
                </td>

              </tr>
            </ng-container>

            </tbody>
          </table>
      </div>

    </div>
<!--    <div class="row" *ngIf="formStatus == 'pending' || formStatus == 'workOrder'">-->
<!--      <div class="col-md-12" *ngIf="partWithUsageCountList.length > 0">-->
<!--          <table class="table table-striped table-responsive-md table-bordered">-->
<!--            <thead>-->
<!--            <tr>-->
<!--              <th class="text-center" style="width: 5%">ردیف</th>-->
<!--              <th class="text-center">عنوان قطعه</th>-->
<!--              <th class="text-center">تعداد برنامه ریزی شده</th>-->
<!--              <th class="text-center">تعداد واقعی</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->

<!--            <ng-container *ngFor="let item of partWithUsageCountList; let i = index">-->
<!--              <tr class="text-center">-->
<!--                <td>{{i + 1}}</td>-->
<!--                <td>{{item?.partName}}</td>-->
<!--                <td>{{item?.planedQuantity}}</td>-->
<!--                <td>{{item?.actualQuantity}}</td>-->
<!--                &lt;!&ndash;<td *ngIf="modeW!== actionMode.VIEW">&ndash;&gt;-->
<!--                &lt;!&ndash;<a class="btn btn-sm btn-outline-lightning rounded-0 mr-2"&ndash;&gt;-->
<!--                &lt;!&ndash;(click)="chooseSelectedItemForEdit(item,i)" style="cursor: pointer ; font-weight: bold" *ngIf="modeS!== actionMode.VIEW">&ndash;&gt;-->
<!--                &lt;!&ndash;<i class="fa fa-edit" title="ویرایش"></i>&ndash;&gt;-->
<!--                &lt;!&ndash;</a>&ndash;&gt;-->
<!--                &lt;!&ndash;</td>&ndash;&gt;-->
<!--                &lt;!&ndash;<td *ngIf="modeW!== actionMode.VIEW">&ndash;&gt;-->
<!--                &lt;!&ndash;<a class="btn btn-sm btn-outline-lightning rounded-0"&ndash;&gt;-->
<!--                &lt;!&ndash;style="cursor: pointer" nbdAreYouSure (then)="deleteItem(item)" *ngIf="modeS!== actionMode.VIEW">&ndash;&gt;-->
<!--                &lt;!&ndash;<i class="fa fa-trash" title="حذف"></i>&ndash;&gt;-->
<!--                &lt;!&ndash;</a>&ndash;&gt;-->
<!--                &lt;!&ndash;</td>&ndash;&gt;-->

<!--              </tr>-->
<!--            </ng-container>-->

<!--            </tbody>-->
<!--          </table>-->
<!--      </div>-->
<!--    </div>-->
    <div  class="row" *ngIf="partWithUsageCountList.length === 0" >
      <div class="col-md-12 text-center"><span style="margin-right: 50px; color: #8a8f94; font-size: 15px">هنوز قطعه ای انتخاب نشده است</span></div>

    </div>





    <ng-container *ngIf=" showModal === true">
<!--      <div class="modal" tabindex="-1" role="dialog" id="partWithUsageCountModal" data-backdrop="static">-->
<!--        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">-->
<!--          <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--              <div class="col-lg-12">-->
<!--                <div class="modal-title">-->
<!--                  <i class="fa fa-plus"></i> &nbsp;&nbsp;-->
<!--                  <span *ngIf="mode === actionMode.ADD"> افزودن قطعه</span>-->
<!--                  <span *ngIf="mode === actionMode.EDIT"> ویرایش قطعه</span>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->

<!--              <form #partWithUsageCountForm="ngForm">-->
<!--            <div class="modal-body" style="display: flow-root;  padding: 15px;border-radius: 5px">-->
<!--                <div class="col-md-12">-->
<!--                  <div class="row">-->
<!--                    <div class="col-md-4 form-group required col-sm-12">-->
<!--                      <label class="control-label" style="font-size: 12px">نوع قطعه :</label>-->
<!--                      <label style="color: red">*</label>-->

<!--                      <div class="input-group input-group-sm">-->
<!--                        <div   class="form-control" (click)="openViewPartModal()"-->
<!--                        >-->
<!--                          {{partWithUsageCount.partName}}-->
<!--&lt;!&ndash;                          {{partWithUsageCount.partCode}}&ndash;&gt;-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->

<!--                    <div class="col-md-4 form-group required col-sm-12">-->
<!--                      <label class="for-label"> تعداد برنامه ریزی شده:</label>-->
<!--&lt;!&ndash;                      <label style="color: red">*</label>&ndash;&gt;-->

<!--                      <div class="input-group input-group-sm">-->
<!--                        <input type="text" placeholder="تعداد برنامه ریزی شده" [(ngModel)]="partWithUsageCount.planedQuantity"-->
<!--                               class="form-control" maxlength="10" name="planedQuantity" #planedQuantity="ngModel"-->
<!--                                nbvPattern="{{myPattern.number}}"-->
<!--                               nbvPatternMsgHtml="تعداد برنامه ریزی شده را به صورت عددی وارد کنید."-->
<!--                               [class.is-valid]="!(planedQuantity?.errors?.nbvRequired || planedQuantity?.errors?.nbvPattern)"-->
<!--                               [class.is-invalid]="(planedQuantity?.errors?.nbvRequired || planedQuantity?.errors?.nbvPattern) && (planedQuantity.touched || doSave)"-->
<!--                               dest="planedQuantityValidation">-->
<!--                      </div>-->
<!--                      <div id="planedQuantityValidation"></div>-->
<!--                    </div>-->

<!--                    <div class="col-md-4 form-group required col-sm-12">-->
<!--                      <label class="for-label"> تعداد واقعی:</label>-->
<!--                      <div class="input-group input-group-sm">-->

<!--                        <input type="text" placeholder="تعداد واقعی" [(ngModel)]="partWithUsageCount.actualQuantity"-->
<!--                               class="form-control" maxlength="10" name="actualQuantity" #actualQuantity="ngModel"-->
<!--                               nbvPattern="{{myPattern.number}}"-->
<!--                               nbvPatternMsgHtml="تعداد واقعی را به صورت عددی وارد کنید."-->
<!--                               [class.is-valid]="partWithUsageCount.actualQuantity && !(actualQuantity?.errors?.nbvPattern)"-->
<!--                               [class.is-invalid]="(actualQuantity?.errors?.nbvRequired || actualQuantity?.errors?.nbvPattern) && (actualQuantity.touched || doSave)"-->
<!--                               dest="actualQuantityValidation">-->
<!--                      </div>-->
<!--                      <div id="actualQuantityValidation"></div>-->
<!--                    </div>-->

<!--                  </div>-->
<!--                </div>-->


<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--              <div class="btn-group-sm">-->
<!--                <button type="button" class="btn btn-cancel-back btn-sm " data-dismiss="modal" style="margin :0 5px "-->
<!--                        (click)="cancelModal()">-->
<!--                  انصراف-->
<!--                </button>-->
<!--                <button type="button" class="btn btn-action btn-sm"  (click)="action(partWithUsageCountForm)">-->
<!--                  <span *ngIf="mode === actionMode.ADD">ذخیره</span>-->
<!--                  <span *ngIf="mode === actionMode.EDIT">ویرایش</span>-->
<!--                  <i *ngIf="loadingAction" class="fa fa-spinner fa-pulse fa-1x"></i>-->

<!--                </button>-->
<!--              </div>-->
<!--            </div>-->
<!--            </form>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->

      <nbw-modal
              [hasHeader]="true"
              [hasFooter]="true"
              [dataBackdrop]="false"
              [modalSize]="MyModalSize.CUSTOM_WIDTH"
              [customWidthPercent]="{xs: 100, md:65}"
              autoShow="false"
              (onClose)="onCloseModal()"
              (onShow)="onShowModal()"

              [myId]="'partWithUsageCountModal'">
        <div modal-header>
          <div class="col-lg-12">
            <div class="modal-title">
              <i class="fa fa-plus"></i> &nbsp;&nbsp;
              <span *ngIf="mode === actionMode.ADD"> افزودن قطعه</span>
              <span *ngIf="mode === actionMode.EDIT"> ویرایش قطعه</span>
            </div>
          </div>
        </div>

        <div modal-body style="display: flow-root" *ngIf="showModalBody">

          <form #partWithUsageCountForm="ngForm">
            <div class="modal-body" style="display: flow-root;  padding: 15px;border-radius: 5px">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4 form-group required col-sm-12">
                    <label class="control-label" style="font-size: 12px">نوع قطعه :</label>
                    <label style="color: red">*</label>

                    <div class="input-group input-group-sm">
                      <div   class="form-control" (click)="openViewPartModal()"
                      >
                        {{partWithUsageCount.partName}}
                        <!--                          {{partWithUsageCount.partCode}}-->
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 form-group required col-sm-12">
                    <label class="for-label"> تعداد برنامه ریزی شده:</label>
                    <label style="color: red">*</label>

                    <!--                      <label style="color: red">*</label>-->

                    <div class="input-group input-group-sm">
                      <input type="text" placeholder="تعداد برنامه ریزی شده" [(ngModel)]="partWithUsageCount.planedQuantity"
                             class="form-control" maxlength="10"
                             name="planedQuantity" #planedQuantity="ngModel"
                             nbvPattern="{{myPattern.number}}"
                             nbvPatternMsgHtml="تعداد برنامه ریزی شده را به صورت عددی وارد کنید."
                             nbvRequired
                             [class.is-valid]="!(planedQuantity?.errors?.nbvRequired || planedQuantity?.errors?.nbvPattern)"
                             [class.is-invalid]="(planedQuantity?.errors?.nbvRequired || planedQuantity?.errors?.nbvPattern) && (planedQuantity.touched || doSave)"
                             dest="planedQuantityValidation">
                    </div>
                    <div id="planedQuantityValidation"></div>
                  </div>

                  <div class="col-md-4 form-group required col-sm-12">
                    <label class="for-label"> تعداد واقعی:</label>
                    <div class="input-group input-group-sm">

                      <input type="text" placeholder="تعداد واقعی" [(ngModel)]="partWithUsageCount.actualQuantity"
                             class="form-control" maxlength="10" name="actualQuantity" #actualQuantity="ngModel"
                             nbvPattern="{{myPattern.number}}"
                             nbvPatternMsgHtml="تعداد واقعی را به صورت عددی وارد کنید."
                             [class.is-valid]="partWithUsageCount.actualQuantity && !(actualQuantity?.errors?.nbvPattern)"
                             [class.is-invalid]="(actualQuantity?.errors?.nbvRequired || actualQuantity?.errors?.nbvPattern) && (actualQuantity.touched || doSave)"
                             dest="actualQuantityValidation">
                    </div>
                    <div id="actualQuantityValidation"></div>
                  </div>

                </div>
              </div>


            </div>
            <div class="modal-footer">
              <div class="btn-group-sm">
                <button type="button" class="btn btn-cancel-back btn-sm " data-dismiss="modal" style="margin :0 5px "
                        (click)="cancelModal()">
                  انصراف
                </button>
                <button type="button" class="btn btn-action btn-sm"  (click)="action(partWithUsageCountForm)">
                  <span *ngIf="mode === actionMode.ADD">ذخیره</span>
                  <span *ngIf="mode === actionMode.EDIT">ویرایش</span>
                  <i *ngIf="loadingAction" class="fa fa-spinner fa-pulse fa-1x"></i>

                </button>
              </div>
            </div>
          </form>



        </div>
      </nbw-modal>




      <app-view-part-modal [partWithUsageCountListIn]="partWithUsageCountList" (selectedPart)="receiveSelectedPart($event)"></app-view-part-modal>


    </ng-container>
  </div>
</div>
