<!--<div class="row" style="margin-bottom: 10px">-->

<!--</div>-->
<!--<div class="card">-->
<div class="card-body card-body-content">

    <div class="card-header">
        <div class="row">
            <div class="col-md-7 col-8 col-sm-6 card-title">
                <div class="row">
                    <div class="col-md-7">
                        <i class="fa fa-list"></i>&nbsp;&nbsp;
                        <span>لیست دارایی تخصیص یافته شده به:</span>
                    </div>


                    <div class="col-md-5 d-none d-md-block d-sm-block ">
                        <!--<br>-->
                        <ng-select [(ngModel)]="selectedUserForSearch"
                                   [clearable]="false"
                                   (change)="changUser()">
                            <ng-container *ngFor="let item of userList;let i=index">
                                <ng-option [value]="item.id">{{item.name }} {{ item.family}}</ng-option>
                            </ng-container>
                            <ng-option [value]="'myUserType'">تخصیص به گروه</ng-option>
                        </ng-select>

                    </div>

                </div>
            </div>
            <div class="col-md-5 col-4 col-sm-6 text-left">
                <button title="جستجو" data-toggle="collapse" href="#asset-search" (click)="getAllAssetTemplate()"
                        class="btn btn-outline-secondary btn-sm" style="margin: 0 5px">
                    <i class="fa fa-search"></i>
                </button>

            </div>
            <!--      <div class="col-md-5 d-block d-md-none d-sm-none mt-2 ">-->
            <!--        &lt;!&ndash;<br>&ndash;&gt;-->
            <!--        <ng-select  [items]="userList"-->
            <!--                    bindLabel="name"-->
            <!--                    bindValue="id"-->
            <!--                    [(ngModel)]="userId" (change)="search()">-->
            <!--          &lt;!&ndash;<ng-option *ngFor="let item of userList" [value]="item.id">{{item.name}} {{item.family}}</ng-option>&ndash;&gt;-->
            <!--        </ng-select>-->

            <!--      </div>-->


        </div>

    </div>
    <!--    <div class="card-body card-body-content">-->
    <div class="collapse" id="asset-search">
        <div class="card" style="margin-bottom: 10px">
            <div class="card-body card-body-filter">
                <div class="row" style="margin-bottom: 10px">
                    <!--<div class="col-md-12" style="margin-bottom: 15px">-->
                    <!--<button  class="btn btn-sm " style="background-color: #042C76; color: white;" (click)="showModalAssetSearch()"> جستجو بر اساس </button>-->
                    <!--</div>-->
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3  form-group">
                                <label class="for-label">نام </label>
                                <input type="text" class="form-control form-control-sm" placeholder="نام دارایی"
                                       style="width: 100%" [(ngModel)]="getAllByFilterAndPagination.name">
                            </div>
                            <div class="col-md-3 form-group">
                                <label class="for-label">کد </label>
                                <input type="text" class="form-control form-control-sm" placeholder="کد دارایی"
                                       style="width: 100%" [(ngModel)]="getAllByFilterAndPagination.code">
                            </div>
<!--                            <div class="col-md-3">-->
<!--                                <label class="for-label">قالب </label>-->
<!--                                &lt;!&ndash;      <ng-select bindLabel="name" bindValue="id" [(ngModel)]=getAllByFilterAndPagination.assetTemplateId"&ndash;&gt;-->
<!--                                &lt;!&ndash;                 [items]="assetTemplateList" [placeholder]="'قالب دارایی'"></ng-select>&ndash;&gt;-->
<!--                                <ng-select bindLabel="name" bindValue="id"-->
<!--                                           [(ngModel)]="getAllByFilterAndPagination.assetTemplateId"-->
<!--                                           [items]="assetTemplateList" [placeholder]="'قالب دارایی'"></ng-select>-->
<!--                            </div>-->
                            <div class="col-md-3">
                                <label class="for-label">اولویت </label>
                                <ng-select bindLabel="_title" bindValue="_value"
                                           [(ngModel)]="getAllByFilterAndPagination.assetPriority"
                                           [items]="assetPriorityList" [placeholder]="'اولویت '"></ng-select>


                            </div>
                            <div class="col-md-3">
                                <label class="for-label">نوع </label>
                                <ng-select bindLabel="_title" bindValue="_value"
                                           [(ngModel)]="getAllByFilterAndPagination.categoryType"
                                           [items]="categoryTypeList" [placeholder]="'نوع '"></ng-select>
                            </div>


                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <!--/////دارایی-->
                            <div class="col-md-3 form-group required col-sm-12">
                                <label class="for-label">انتخاب مکان دارایی </label>
                                <div class="input-group input-group-sm">

                                    <ng-select
                                            style="width: 100%"
                                            [(ngModel)]="getAllByFilterAndPagination.parentLocationId"
                                            name="selectedAssetId"
                                            class="auto-grow"
                                            (scrollToEnd)="getAllAssetByTerm()"
                                            [loading]="loadingAssetList"
                                            [placeholder]="'انتخاب مکان دارایی'">
                                        <ng-container *ngFor="let asset of assetList; let i= index ">

                                            <ng-option
                                                    [value]="asset.id">
                                                {{asset?.name }}
                                            </ng-option>
                                        </ng-container>

                                    </ng-select>
                                </div>
                            </div>

                            <!--/////دارایی-->
                            <div class="col-md-3">
                                <label class="for-label">وضعیت</label>
                                <select
                                        class="form-control form-control-sm"
                                        [(ngModel)]="getAllByFilterAndPagination.status"

                                >
                                    <!--bindLabel="_title" bindValue="_value"-->

                                    <!--[items]="statusList"-->
                                    <option [value]="'ALL'">همه</option>
                                    <option [value]="'ACTIVE'">فعال</option>
                                    <option [value]="'INACTIVE'">غیرفعال</option>
                                </select>
                            </div>
                            <div class="col-md-3 text-right">
                                <button class="btn btn-sm btn-search" (click)="search()" style="margin-top: 30px">
                                    جستجو
                                </button>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <!--/////////empety List ////////////////-->
    <div class="col-md -12" *ngIf="!entityList.length">
        <br>
        <div class="text-center" style="color: #6d6d6e">
            <a>هیچ اطلاعاتی ثبت نشده!</a>
        </div>
    </div>

    <!--///////// Table ////////////////-->
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
         aria-labelledby="pills-home-tab">
        <ng-container *ngIf="entityList.length">
            <table class="table table-bordered table-responsive-md table-striped ">
                <thead>
                <tr style="text-align: center">
                    <th class="text-center">ردیف</th>
                    <!--<th>نوع دارایی</th>-->
                    <th class="text-center">نام</th>
                    <th class="text-center"> مکان دارایی</th>
<!--                    <th class="text-center">قالب</th>-->
                    <th class="text-center">کد</th>
                    <th style="text-align: center"> اولویت</th>
                    <th class="text-center">وضعیت</th>
                    <th class="text-center"> نوع دسته</th>
                    <th class="text-center" style="width: 5%">مشاهده</th>
                    <th class="text-center" style="width: 5%">ویرایش</th>
                </tr>

                </thead>
                <tbody>
                <ng-container *ngFor="let item of entityList; let i = index">
                    <tr class="text-center">
                        <td>
                            {{(i + 1 + (pageIndex * pageSize))}}
                        </td>
                        <td>{{item.name}}</td>
                        <td>{{item.parentLocationName}}</td>
<!--                        <td>{{item.assetTemplateName}}</td>-->
                        <td>{{item.code}}</td>
                        <td style="text-align: center; font-size: 12px">
                            <ng-container *ngIf="item?.assetPriority==='normal'">عادی</ng-container>
                            <ng-container *ngIf="item?.assetPriority==='important'">مهم
                            </ng-container>
                            <ng-container *ngIf="item?.assetPriority==='strategic'">استراتژیک
                            </ng-container>
                        </td>
                        <td>
                            <ng-container *ngIf="item.status">فعال</ng-container>
                            <ng-container *ngIf="!item.status">غیرفعال</ng-container>
                        </td>

                        <td>
                            <p class="text-center"
                               *ngIf="item.categoryType === categoryType[categoryType.FACILITY.toString()]">
                                تجهیز</p>
                            <p class="text-center"
                               *ngIf="item.categoryType === categoryType[categoryType.BUILDING.toString()]">
                                سالن</p>
                            <p class="text-center"
                               *ngIf="item.categoryType === categoryType[categoryType.TOOLS.toString()]">
                                ابزار</p>
                        </td>
                        <td>
                            <ng-container *ngIf="roleList.AssignedAsset_see;else notSeeAccessTemp">
                                <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2"
                                   (click)="chooseSelectedItemForView(item)"
                                   style="cursor: pointer ; font-weight: bold">
                                    <i class="fa fa-eye" title="مشاهده"></i>
                                </a>
                            </ng-container>
                            <ng-template #notSeeAccessTemp>
                                <i class="fa fa-eye" title="مشاهده" style="cursor: no-drop"></i>
                            </ng-template>
                        </td>
                        <td>
                            <ng-container *ngIf="roleList.AssignedAsset_update;else notEditAccessTemp">
                                <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2"
                                   (click)="chooseSelectedItemForEdit(item)"
                                   style="cursor: pointer ; font-weight: bold">
                                    <i class="fa fa-edit" title="ویرایش"></i>
                                </a>
                            </ng-container>
                            <ng-template #notEditAccessTemp>
                                <i class="fa fa-edit" title="ویرایش" style="cursor: no-drop"></i>
                            </ng-template>
                        </td>
                    </tr>
                </ng-container>

                </tbody>
            </table>

        </ng-container>
        <!--    pagination-->
        <app-paginator
                [totalElements]="length"
                [pageSize]="pageSize"
                [pageIndex]="pageIndex"
                [pageSizeOptions]="[]"
                [showFirstLastButtons]="true"
                (page)=" changePage($event)"
        ></app-paginator>

        <!--    pagination-->
    </div>
    <!--    </div>-->
    <!--</div>-->
    <!--========================================modal==================================-->
    <!--    <router-outlet></router-outlet>-->
</div>
