<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6 col-8 col-sm-6 card-title">
                <i class="fa fa-list"></i>&nbsp;&nbsp;
                <span>لیست خانواده گروه  ها </span>
            </div>
            <div class="col-md-6 col-4 col-sm-6 text-left">
                <button title="جستجو" data-toggle="collapse"
                        href="#assetCategory-search"
                        id="assetCategory-searchBtn"
                        class="btn btn-outline-secondary btn-sm" style="margin: 0 5px">
                    <i class="fa fa-search"></i>
                </button>

                <!--///// افزودن-->
                <ng-container>

                    <!--                    <ng-container *ngIf="roleList.assetCategory_create;else notAccessCreateTemp">-->
                    <button [routerLink]="'action'" [queryParams]="{mode: actionMode.ADD}"
                            class="btn btn-secondary btn-sm">
                        <i class="fa fa-plus"></i>
                        <span class="d-none d-sm-inline d-sm-inline">
            &nbsp;&nbsp;            افزودن
            </span>
                    </button>
                    <!--                    </ng-container>-->
                    <!--                    <ng-template #notAccessCreateTemp>-->
                    <!--                        <button style="cursor: not-allowed"-->
                    <!--                                class="btn btn-secondary btn-sm">-->
                    <!--                            <i class="fa fa-plus"></i>-->
                    <!--                            <span class="d-none d-sm-inline d-sm-inline">-->
                    <!--            &nbsp;&nbsp;            افزودن-->
                    <!--            </span>-->
                    <!--                        </button>-->
                    <!--                    </ng-template>-->
                                    </ng-container>
                    <!--///// افزودن!!!!-->

            </div>
        </div>
    </div>
    <div class="card-body card-body-content">


        <div class="collapse" id="assetCategory-search">
            <div class="card" style="margin-bottom: 10px">
                <div class="card-body card-body-filter">
                    <div class="row">
                        <div class="col-md-4 form-group required col-sm-12">
                            <label class="for-label">جستجو:</label>
                            <input class="form-control" [(ngModel)]="term"
                                   [placeholder]="'جستجو براساس نام خانواده گروه'">
                        </div>
                        <div class="col-md-1" style="margin-top: 30px">
                            <button class="btn btn-search btn-sm" (click)="search()"
                            >
                                جستجو
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--/////// loading /////////-->
        <app-loading-spinner [loadingList]="true" *ngIf="loading"></app-loading-spinner>


        <!--/////////empety List ////////////////-->
        <div class="col-md-12" *ngIf="!entityList.length && !loading">
            <br>
            <br>
            <div class="text-center" style="color: #6d6d6e">
                <a *ngIf="entityList.length===0">هیچ اطلاعاتی ثبت نشده!</a>
            </div>
        </div>

        <!--///////// Table ////////////////-->

        <ng-container *ngIf="entityList.length">
            <table class="table table-striped table-bordered table-responsive-md">
                <thead>
                <tr style="text-align: center">
                    <th class="text-center" style="width: 5%">ردیف</th>
                    <th class="text-center">نام خانواده گروه</th>
                    <th class="text-center" style="width: 5%">ویرایش</th>
                    <th class="text-center" style="width: 5%">حذف</th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let item of entityList; let i = index">
                    <tr class="text-center">
                        <td>
                            {{(i + 1 + (pageIndex * pageSize))}}
                        </td>
                        <td>{{item.title }}</td>

                        <td>
                            <ng-container *ngIf="roleList.assetCategory_update;else notEditAccessTemp">

                                <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2"
                                   (click)="chooseSelectedItemForEdit(item)"
                                   style="cursor: pointer ; font-weight: bold">
                                    <i class="fa fa-edit" title="ویرایش"></i>
                                </a>
                            </ng-container>
                            <ng-template #notEditAccessTemp>
                                <i class="fa fa-edit" title="ویرایش" style="cursor: no-drop"></i>

                            </ng-template>
                        </td>
                        <td>
                            <ng-container *ngIf="roleList.assetCategory_delete;else notDeleteAccessTemp">
                                <a class="btn btn-sm btn-outline-lightning rounded-0"
                                   style="cursor: pointer"
                                   (click)="showModalDelete(item,i)"
                                >
                                    <i class="fa fa-trash" title="حذف"></i>
                                </a>
                            </ng-container>
                            <ng-template #notDeleteAccessTemp>
                                <i class="fa fa-trash" style="cursor: no-drop" title="حذف"></i>

                            </ng-template>
                        </td>
                    </tr>
                </ng-container>

                </tbody>
            </table>
        </ng-container>
        <!--    pagination-->
        <app-paginator
                [totalElements]="length"
                [pageSize]="pageSize"
                [pageIndex]="pageIndex"
                [pageSizeOptions]="[]"
                [showFirstLastButtons]="true"
                (page)=" changePage($event)"
        ></app-paginator>


        <!--    pagination-->
    </div>
</div>

<app-conferm-delete
        [title]="selectedItemForDelete.title"
        [loading]="selectedItemForDelete.loading"
        [modalId]="'modalId'+selectedItemForDelete.id"
        (value)="deleteItem($event)"
></app-conferm-delete>
