<div class="collapse" id="bill-search">
    <div class="card" style="margin-bottom: 10px">
        <div class="card-body card-body-filter">
            <div class="row" style="margin-bottom: 10px">

                <div class="col-md-4 form-group required col-sm-12">
                    <label class="for-label">نام BOM:</label>
                    <input class="form-control form-control-sm" [(ngModel)]="getAllByFilterAndPaginationBOM.name"
                           [placeholder]="'جستجو براساس نام BOM'"
                    >
                </div>

                <div class="col-md-4 form-group required col-sm-12">
                    <label class="for-label">کد BOM:</label>
                    <input class="form-control form-control-sm" [(ngModel)]="getAllByFilterAndPaginationBOM.code"
                           [placeholder]="'جستجو براساس کد BOM'"
                    >
                </div>
                <div class="col-md-1" style="margin-top: 30px">
                    <button class="btn btn-sm btn-search" (click)="search()"
                    >
                        جستجو
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>

<app-loading-spinner [loadingList]="true" *ngIf="loading"></app-loading-spinner>

<div class="col-md -12" *ngIf="!entityList.length && !loading">
    <br>
    <br>
    <div class="text-center" style="color: #6d6d6e">
        <a *ngIf=" !getAllByFilterAndPaginationBOM.name && ! getAllByFilterAndPaginationBOM.code">هیچ اطلاعاتی ثبت
            نشده!</a>
        <a *ngIf="getAllByFilterAndPaginationBOM.name || getAllByFilterAndPaginationBOM.code">هیچ اطلاعاتی یافت نشد!</a>
    </div>
</div>

<ng-container *ngIf=" entityList.length > 0 && !loading">
    <table class="table table-bordered table-responsive-md table-striped">
        <thead>
        <tr style="text-align: center">
            <th class="text-center" style="width: 5%">ردیف</th>
            <th class="text-center">نام BOM</th>
            <th class="text-center">کد BOM</th>
            <th class="text-center" style="width: 5%">ویرایش</th>
            <th class="text-center" style="width: 5%">حذف</th>
            <th class="text-center" style="width: 5%">مشاهده</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let item of entityList; let i = index">
            <tr class="text-center">
                <td>
                    {{(i + 1 + (pageIndex * pageSize))}}
                </td>
                <td>{{item.bomGroupName}}</td>
                <td> {{item.code}}</td>
                <td>
                    <ng-container *ngIf="roleList.BOM_update;else notEditAccessTemp">
                        <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2"
                           (click)="chooseSelectedItemForEdit(item)" style="cursor: pointer ; font-weight: bold">
                            <i class="fa fa-edit" title="ویرایش"></i>
                        </a>
                    </ng-container>
                    <ng-template #notEditAccessTemp>
                        <i class="fa fa-edit" title="ویرایش" style="cursor: no-drop"></i>

                    </ng-template>
                </td>
                <td>

                    <ng-container *ngIf="roleList.BOM_delete;else notDeleteAccessTemp">
                        <a class="btn btn-sm btn-outline-lightning rounded-0"
                           style="cursor: pointer"
                           (click)="showModalDelete(item,i)"
                        >
                            <i class="fa fa-trash" title="حذف"></i>
                        </a>
                    </ng-container>
                    <ng-template #notDeleteAccessTemp>
                        <i class="fa fa-trash" style="cursor: no-drop" title="حذف"></i>

                    </ng-template>
                </td>
                <td>

                    <ng-container *ngIf="roleList.BOM_see;else notSeeAccessTemp">
                        <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2"
                           (click)="chooseSelectedItemForView(item)" style="cursor: pointer ; font-weight: bold">
                            <i class="fa fa-eye" title="نمایش"></i>
                        </a>
                    </ng-container>
                    <ng-template #notSeeAccessTemp>
                        <i class="fa fa-eye" title="نمایش" style="cursor: no-drop"></i>

                    </ng-template>

                </td>
            </tr>
        </ng-container>

        </tbody>
    </table>


</ng-container>

<!--    pagination-->
<app-paginator
        [totalElements]="length"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        [pageSizeOptions]="[]"
        [showFirstLastButtons]="true"
        (page)=" changePage($event)"
></app-paginator>


<!--    pagination-->


<!--**********************-->
<app-conferm-delete
        [title]="selectedItemForDelete.title"
        [loading]="selectedItemForDelete.loading"
        [modalId]="'modalId'+selectedItemForDelete.id"
        (value)="deleteItem($event)"
></app-conferm-delete>
